<div class="cart popup" id="cart">
  <div class="popup__overlay"></div>
  <div class="cart-box popup__box">
    <div class="popup__header">
      <h3 class="popup__title">В корзине 2 товара</h3>
      <button class="popup__close">
        <svg class="popup__close-icon">
          <use href="images/icons/icons.svg#close" />
        </svg>
      </button>
    </div>
    <div class="cart__wrapper">
      <div class="cart__products">
        @@include('./cart-item.html', {"image": "item-1.jpg"})
        @@include('./cart-item.html', {"image": "item-1.jpg"})
        @@include('./cart-item.html', {"image": "item-2.jpg"})
        @@include('./cart-item.html', {"image": "item-3.jpg"})
      </div>
      <div class="cart-total">
        <div class="cart-total__header">
          <div class="cart-total__title">Итого:</div>
          <div class="cart-total__price">127 BYN</div>
        </div>
        <p class="cart-total__description">
          <svg class="cart-item__product-icon">
            <use href="images/icons/icons.svg#total" />
          </svg>
          Будет начисленно <span>+ 289</span> за этот заказ
        </p>
        <div class="cart-total__buttons">
          <button class="cart-total__btn btn btn--white btn--100" type="button">Купить в 1 клик</button>
          <a class="cart-total__btn btn btn--accent btn--100" href="order.html">Оформить заказ</a>
        </div>
      </div>
      <div class="cart-more splide" id="cart-more-slider">
        <div class="cart-more__header">
          <div class="cart-more__title">С этим товаром покупают</div>
          <div class="splide__arrows">
            <button class="splide__arrow splide__arrow--prev" type="button">
              <svg>
                <use href="images/icons/icons.svg#slider-arrow-left" />
              </svg>
            </button>
            <button class="splide__arrow splide__arrow--next" type="button">
              <svg>
                <use href="images/icons/icons.svg#slider-arrow-right" />
              </svg>
            </button>
          </div>
        </div>
        <div class="splide__track">
          <div class="splide__list">
            <div class="cart-more__item splide__slide">
              <div class="cart-more__image">
                <img src="@img//content/cart/cart-more-1.jpg" alt="cart-image">
              </div>
              <a href="card.html" class="product-card__title">Анатомический матрас</a>
              <div class="product-card__price">
                от
                <span class="product-card__price--actual">48 900 BYN</span>
                <span class="product-card__price--old">97 800 BYN</span>
              </div>
              <div class="product-card__colors product-card__colors--sm">
                <input class="product-card__colors-item" type="button" value="#553F34" style="background-color: #553F34;">
                <input class="product-card__colors-item" type="button" value="#153142" style="background-color: #153142;">
                <input class="product-card__colors-item" type="button" value="#7E8283" style="background-color: #7E8283;">
                <input class="product-card__colors-item" type="button" value="#553F34" style="background-color: #553F34;">
                <input class="product-card__colors-item" type="button" value="#153142" style="background-color: #153142;">
                <input class="product-card__colors-item" type="button" value="#7E8283" style="background-color: #7E8283;">
                <span class="product-card__colors-more">+ 12</span>
              </div>
            </div>
            <div class="cart-more__item splide__slide">
              <div class="cart-more__image">
                <img src="@img//content/cart/cart-more-2.jpg" alt="cart-image">
              </div>
              <a href="card.html" class="product-card__title">Анатомический матрас</a>
              <div class="product-card__price">
                от
                <span class="product-card__price--actual">48 900 BYN</span>
                <span class="product-card__price--old">97 800 BYN</span>
              </div>
              <div class="product-card__colors product-card__colors--sm">
                <input class="product-card__colors-item" type="button" value="#553F34" style="background-color: #553F34;">
                <input class="product-card__colors-item" type="button" value="#153142" style="background-color: #153142;">
                <input class="product-card__colors-item" type="button" value="#7E8283" style="background-color: #7E8283;">
                <input class="product-card__colors-item" type="button" value="#553F34" style="background-color: #553F34;">
                <input class="product-card__colors-item" type="button" value="#153142" style="background-color: #153142;">
                <input class="product-card__colors-item" type="button" value="#7E8283" style="background-color: #7E8283;">
                <span class="product-card__colors-more">+ 12</span>
              </div>
            </div>
            <div class="cart-more__item splide__slide">
              <div class="cart-more__image">
                <img src="@img//content/cart/cart-more-1.jpg" alt="cart-image">
              </div>
              <a href="card.html" class="product-card__title">Анатомический матрас</a>
              <div class="product-card__price">
                от
                <span class="product-card__price--actual">48 900 BYN</span>
                <span class="product-card__price--old">97 800 BYN</span>
              </div>
              <div class="product-card__colors product-card__colors--sm">
                <input class="product-card__colors-item" type="button" value="#553F34" style="background-color: #553F34;">
                <input class="product-card__colors-item" type="button" value="#153142" style="background-color: #153142;">
                <input class="product-card__colors-item" type="button" value="#7E8283" style="background-color: #7E8283;">
                <input class="product-card__colors-item" type="button" value="#553F34" style="background-color: #553F34;">
                <input class="product-card__colors-item" type="button" value="#153142" style="background-color: #153142;">
                <input class="product-card__colors-item" type="button" value="#7E8283" style="background-color: #7E8283;">
                <span class="product-card__colors-more">+ 12</span>
              </div>
            </div>
            <div class="cart-more__item splide__slide">
              <div class="cart-more__image">
                <img src="@img//content/cart/cart-more-2.jpg" alt="cart-image">
              </div>
              <a href="card.html" class="product-card__title">Анатомический матрас</a>
              <div class="product-card__price">
                от
                <span class="product-card__price--actual">48 900 BYN</span>
                <span class="product-card__price--old">97 800 BYN</span>
              </div>
              <div class="product-card__colors product-card__colors--sm">
                <input class="product-card__colors-item" type="button" value="#553F34" style="background-color: #553F34;">
                <input class="product-card__colors-item" type="button" value="#153142" style="background-color: #153142;">
                <input class="product-card__colors-item" type="button" value="#7E8283" style="background-color: #7E8283;">
                <input class="product-card__colors-item" type="button" value="#553F34" style="background-color: #553F34;">
                <input class="product-card__colors-item" type="button" value="#153142" style="background-color: #153142;">
                <input class="product-card__colors-item" type="button" value="#7E8283" style="background-color: #7E8283;">
                <span class="product-card__colors-more">+ 12</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>