<div class="cart-item" data-cart="item">
  <div class="cart-item__left">
    <div class="cart-item__image">
      <img src="@img//content//cart/@@image" alt="cart-item-image">
    </div>
    <div class="cart-item__info">
      <a href="card.html" class="cart-item__info-title">Анатомический матрас Askona Benefit</a>
      <div class="cart-item__info-buttons">
        <button class="cart-item__info-btn cart-item__info-btn--add" type="button">Добавить в избраноое</button>
        <button class="cart-item__info-btn cart-item__info-btn--remove" type="button">Удалить</button>
      </div>
    </div>
  </div>
  <div class="cart-item__product">
    <div class="cart-item__product-price cart-item__product-price--actual">48 900 BYN</div>
    <div class="cart-item__product-price cart-item__product-price--old">97 800 BYN</div>
    <div class="cart-counter">
      <button class="cart-counter__btn" data-cart="decrement" type="button">
        <svg class="cart-counter__icon">
          <use href="images/icons/icons.svg#decrement" />
        </svg>
      </button>
      <input class="cart-counter__input" type="text" value="1" data-cart="counter">
      <button class="cart-counter__btn" data-cart="increment" type="button">
        <svg class="cart-counter__icon">
          <use href="images/icons/icons.svg#increment" />
        </svg>
      </button>
    </div>
  </div>
</div>