<div class="products hidden">
  <div class="products-menu">
    <ul class="products-menu__list">
      <li class="products-menu__item">
        <a href="#" class="products__link">
          <img class="products__icon" src="@img//content/category-slider/category-1.png" alt="Матрасы">
          Матрасы
        </a>
        <div class="products-submenu">
          <div class="products-submenu__content">
            <h5 class="products-submenu__name">Матрасы</h5>
            <div class="products__inner">
              <div class="products__item">
                <h6 class="products__title">По категориям</h6>
                <ul class="products__list">
                  <li><a href="#">Американские матрасы</a></li>
                  <li><a href="#">Чехлы на матрас</a></li>
                  <li><a href="#">Анаматрасники</a></li>
                  <li><a href="#">Детские матрасы</a></li>
                </ul>
              </div>
              <div class="products__item">
                <h6 class="products__title">Особенности</h6>
                <ul class="products__list">
                  <li><a href="#">Двухспальные</a></li>
                  <li><a href="#">Односпальные</a></li>
                  <li><a href="#">Полуторные</a></li>
                  <li><a href="#">Евро</a></li>
                  <li><a href="#">Ортопедические</a></li>
                </ul>
              </div>
              <div class="products__item">
                <h6 class="products__title">По жесткости</h6>
                <ul class="products__list">
                  <li><a href="#">Пружинные</a></li>
                  <li><a href="#">Средней жесткости</a></li>
                  <li><a href="#">Жесткие</a></li>
                  <li><a href="#">Очень жесткие</a></li>
                  <li><a href="#">Разносторонней жесткости</a></li>
                </ul>
              </div>
              <div class="products__item">
                <h6 class="products__title">По размеру</h6>
                <ul class="products__list">
                  <li><a href="#">80x200</a></li>
                  <li><a href="#">90x200</a></li>
                  <li><a href="#">120x200</a></li>
                  <li><a href="#">140x200</a></li>
                  <li><a href="#">160x200</a></li>
                  <li><a href="#">180x200</a></li>
                  <li><a href="#">200x200</a></li>
                </ul>
              </div>
              <div class="products__item">
                <h6 class="products__title">По свойствам</h6>
                <ul class="products__list">
                  <li><a href="#">Пружинные</a></li>
                  <li><a href="#">Беспружинные</a></li>
                  <li><a href="#">Снезависимым пружинным блоком</a></li>
                </ul>
              </div>
              <div class="products__item">
                <h6 class="products__title">По материалау</h6>
                <ul class="products__list">
                  <li><a href="#">Латексные</a></li>
                  <li><a href="#">Кокосовые</a></li>
                  <li><a href="#">С ортопедической пеной</a></li>
                  <li><a href="#">Изпены с памятью формы</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="products__banners">
            <a href="#">
              <img src="@img//content/sale-slider/sale-slide-4.jpg" alt="Баннер">
            </a>
            <a href="#">
              <img src="@img//content/sale-slider/sale-slide-5.jpg" alt="Баннер">
            </a>
          </div>
        </div>
      </li>
      <li class="products-menu__item">
        <a href="#" class="products__link">
          <img class="products__icon" src="@img//content/category-slider/category-2.png" alt="Подушки">
          Подушки
        </a>
        <div class="products-submenu">
          <div class="products-submenu__content">
            <h5 class="products-submenu__name">Подушки</h5>
            <div class="products__inner">
              <div class="products__item">
                <h6 class="products__title">По категориям</h6>
                <ul class="products__list">
                  <li><a href="#">Американские матрасы</a></li>
                  <li><a href="#">Чехлы на матрас</a></li>
                  <li><a href="#">Анаматрасники</a></li>
                  <li><a href="#">Детские матрасы</a></li>
                </ul>
              </div>
              <div class="products__item">
                <h6 class="products__title">Особенности</h6>
                <ul class="products__list">
                  <li><a href="#">Двухспальные</a></li>
                  <li><a href="#">Односпальные</a></li>
                  <li><a href="#">Полуторные</a></li>
                  <li><a href="#">Евро</a></li>
                  <li><a href="#">Ортопедические</a></li>
                </ul>
              </div>
              <div class="products__item">
                <h6 class="products__title">По жесткости</h6>
                <ul class="products__list">
                  <li><a href="#">Пружинные</a></li>
                  <li><a href="#">Средней жесткости</a></li>
                  <li><a href="#">Жесткие</a></li>
                  <li><a href="#">Очень жесткие</a></li>
                  <li><a href="#">Разносторонней жесткости</a></li>
                </ul>
              </div>
              <div class="products__item">
                <h6 class="products__title">По размеру</h6>
                <ul class="products__list">
                  <li><a href="#">80x200</a></li>
                  <li><a href="#">90x200</a></li>
                  <li><a href="#">120x200</a></li>
                  <li><a href="#">140x200</a></li>
                  <li><a href="#">160x200</a></li>
                  <li><a href="#">180x200</a></li>
                  <li><a href="#">200x200</a></li>
                </ul>
              </div>
              <div class="products__item">
                <h6 class="products__title">По свойствам</h6>
                <ul class="products__list">
                  <li><a href="#">Пружинные</a></li>
                  <li><a href="#">Беспружинные</a></li>
                  <li><a href="#">Снезависимым пружинным блоком</a></li>
                </ul>
              </div>
              <div class="products__item">
                <h6 class="products__title">По материалау</h6>
                <ul class="products__list">
                  <li><a href="#">Латексные</a></li>
                  <li><a href="#">Кокосовые</a></li>
                  <li><a href="#">С ортопедической пеной</a></li>
                  <li><a href="#">Изпены с памятью формы</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="products__banners">
            <a href="#">
              <img src="@img//content/sale-slider/sale-slide-4.jpg" alt="Баннер">
            </a>
            <a href="#">
              <img src="@img//content/sale-slider/sale-slide-5.jpg" alt="Баннер">
            </a>
          </div>
        </div>
      </li>
      <li class="products-menu__item">
        <a href="#" class="products__link">
          <img class="products__icon" src="@img//content/category-slider/category-3.png" alt="Кровати">
          Кровати
        </a>
        <div class="products-submenu">
          <div class="products-submenu__content">
            <h5 class="products-submenu__name">Кровати</h5>
            <div class="products__inner">
              <div class="products__item">
                <h6 class="products__title">По категориям</h6>
                <ul class="products__list">
                  <li><a href="#">Американские матрасы</a></li>
                  <li><a href="#">Чехлы на матрас</a></li>
                  <li><a href="#">Анаматрасники</a></li>
                  <li><a href="#">Детские матрасы</a></li>
                </ul>
              </div>
              <div class="products__item">
                <h6 class="products__title">Особенности</h6>
                <ul class="products__list">
                  <li><a href="#">Двухспальные</a></li>
                  <li><a href="#">Односпальные</a></li>
                  <li><a href="#">Полуторные</a></li>
                  <li><a href="#">Евро</a></li>
                  <li><a href="#">Ортопедические</a></li>
                </ul>
              </div>
              <div class="products__item">
                <h6 class="products__title">По жесткости</h6>
                <ul class="products__list">
                  <li><a href="#">Пружинные</a></li>
                  <li><a href="#">Средней жесткости</a></li>
                  <li><a href="#">Жесткие</a></li>
                  <li><a href="#">Очень жесткие</a></li>
                  <li><a href="#">Разносторонней жесткости</a></li>
                </ul>
              </div>
              <div class="products__item">
                <h6 class="products__title">По размеру</h6>
                <ul class="products__list">
                  <li><a href="#">80x200</a></li>
                  <li><a href="#">90x200</a></li>
                  <li><a href="#">120x200</a></li>
                  <li><a href="#">140x200</a></li>
                  <li><a href="#">160x200</a></li>
                  <li><a href="#">180x200</a></li>
                  <li><a href="#">200x200</a></li>
                </ul>
              </div>
              <div class="products__item">
                <h6 class="products__title">По свойствам</h6>
                <ul class="products__list">
                  <li><a href="#">Пружинные</a></li>
                  <li><a href="#">Беспружинные</a></li>
                  <li><a href="#">Снезависимым пружинным блоком</a></li>
                </ul>
              </div>
              <div class="products__item">
                <h6 class="products__title">По материалау</h6>
                <ul class="products__list">
                  <li><a href="#">Латексные</a></li>
                  <li><a href="#">Кокосовые</a></li>
                  <li><a href="#">С ортопедической пеной</a></li>
                  <li><a href="#">Изпены с памятью формы</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="products__banners">
            <a href="#">
              <img src="@img//content/sale-slider/sale-slide-4.jpg" alt="Баннер">
            </a>
            <a href="#">
              <img src="@img//content/sale-slider/sale-slide-5.jpg" alt="Баннер">
            </a>
          </div>
        </div>
      </li>
      <li class="products-menu__item">
        <a href="#" class="products__link">
          <img class="products__icon" src="@img//content/category-slider/category-4.png" alt="Одеяла">
          Одеяла
        </a>
        <div class="products-submenu">
          <div class="products-submenu__content">
            <h5 class="products-submenu__name">Одеяла</h5>
            <div class="products__inner">
              <div class="products__item">
                <h6 class="products__title">По категориям</h6>
                <ul class="products__list">
                  <li><a href="#">Американские матрасы</a></li>
                  <li><a href="#">Чехлы на матрас</a></li>
                  <li><a href="#">Анаматрасники</a></li>
                  <li><a href="#">Детские матрасы</a></li>
                </ul>
              </div>
              <div class="products__item">
                <h6 class="products__title">Особенности</h6>
                <ul class="products__list">
                  <li><a href="#">Двухспальные</a></li>
                  <li><a href="#">Односпальные</a></li>
                  <li><a href="#">Полуторные</a></li>
                  <li><a href="#">Евро</a></li>
                  <li><a href="#">Ортопедические</a></li>
                </ul>
              </div>
              <div class="products__item">
                <h6 class="products__title">По жесткости</h6>
                <ul class="products__list">
                  <li><a href="#">Пружинные</a></li>
                  <li><a href="#">Средней жесткости</a></li>
                  <li><a href="#">Жесткие</a></li>
                  <li><a href="#">Очень жесткие</a></li>
                  <li><a href="#">Разносторонней жесткости</a></li>
                </ul>
              </div>
              <div class="products__item">
                <h6 class="products__title">По размеру</h6>
                <ul class="products__list">
                  <li><a href="#">80x200</a></li>
                  <li><a href="#">90x200</a></li>
                  <li><a href="#">120x200</a></li>
                  <li><a href="#">140x200</a></li>
                  <li><a href="#">160x200</a></li>
                  <li><a href="#">180x200</a></li>
                  <li><a href="#">200x200</a></li>
                </ul>
              </div>
              <div class="products__item">
                <h6 class="products__title">По свойствам</h6>
                <ul class="products__list">
                  <li><a href="#">Пружинные</a></li>
                  <li><a href="#">Беспружинные</a></li>
                  <li><a href="#">Снезависимым пружинным блоком</a></li>
                </ul>
              </div>
              <div class="products__item">
                <h6 class="products__title">По материалау</h6>
                <ul class="products__list">
                  <li><a href="#">Латексные</a></li>
                  <li><a href="#">Кокосовые</a></li>
                  <li><a href="#">С ортопедической пеной</a></li>
                  <li><a href="#">Изпены с памятью формы</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="products__banners">
            <a href="#">
              <img src="@img//content/sale-slider/sale-slide-4.jpg" alt="Баннер">
            </a>
            <a href="#">
              <img src="@img//content/sale-slider/sale-slide-5.jpg" alt="Баннер">
            </a>
          </div>
        </div>
      </li>
      <li class="products-menu__item">
        <a href="#" class="products__link">
          <img class="products__icon" src="@img//content/category-slider/category-5.png" alt="Диваны">
          Диваны
        </a>
        <div class="products-submenu">
          <div class="products-submenu__content">
            <h5 class="products-submenu__name">Диваны</h5>
            <div class="products__inner">
              <div class="products__item">
                <h6 class="products__title">По категориям</h6>
                <ul class="products__list">
                  <li><a href="#">Американские матрасы</a></li>
                  <li><a href="#">Чехлы на матрас</a></li>
                  <li><a href="#">Анаматрасники</a></li>
                  <li><a href="#">Детские матрасы</a></li>
                </ul>
              </div>
              <div class="products__item">
                <h6 class="products__title">Особенности</h6>
                <ul class="products__list">
                  <li><a href="#">Двухспальные</a></li>
                  <li><a href="#">Односпальные</a></li>
                  <li><a href="#">Полуторные</a></li>
                  <li><a href="#">Евро</a></li>
                  <li><a href="#">Ортопедические</a></li>
                </ul>
              </div>
              <div class="products__item">
                <h6 class="products__title">По жесткости</h6>
                <ul class="products__list">
                  <li><a href="#">Пружинные</a></li>
                  <li><a href="#">Средней жесткости</a></li>
                  <li><a href="#">Жесткие</a></li>
                  <li><a href="#">Очень жесткие</a></li>
                  <li><a href="#">Разносторонней жесткости</a></li>
                </ul>
              </div>
              <div class="products__item">
                <h6 class="products__title">По размеру</h6>
                <ul class="products__list">
                  <li><a href="#">80x200</a></li>
                  <li><a href="#">90x200</a></li>
                  <li><a href="#">120x200</a></li>
                  <li><a href="#">140x200</a></li>
                  <li><a href="#">160x200</a></li>
                  <li><a href="#">180x200</a></li>
                  <li><a href="#">200x200</a></li>
                </ul>
              </div>
              <div class="products__item">
                <h6 class="products__title">По свойствам</h6>
                <ul class="products__list">
                  <li><a href="#">Пружинные</a></li>
                  <li><a href="#">Беспружинные</a></li>
                  <li><a href="#">Снезависимым пружинным блоком</a></li>
                </ul>
              </div>
              <div class="products__item">
                <h6 class="products__title">По материалау</h6>
                <ul class="products__list">
                  <li><a href="#">Латексные</a></li>
                  <li><a href="#">Кокосовые</a></li>
                  <li><a href="#">С ортопедической пеной</a></li>
                  <li><a href="#">Изпены с памятью формы</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="products__banners">
            <a href="#">
              <img src="@img//content/sale-slider/sale-slide-4.jpg" alt="Баннер">
            </a>
            <a href="#">
              <img src="@img//content/sale-slider/sale-slide-5.jpg" alt="Баннер">
            </a>
          </div>
        </div>
      </li>
      <li class="products-menu__item">
        <a href="#" class="products__link">
          <img class="products__icon" src="@img//content/category-slider/category-7.png" alt="Детские товары">
          Детские товары
        </a>
        <div class="products-submenu">
          <div class="products-submenu__content">
            <h5 class="products-submenu__name">Детские товары</h5>
            <div class="products__inner">
              <div class="products__item">
                <h6 class="products__title">По категориям</h6>
                <ul class="products__list">
                  <li><a href="#">Американские матрасы</a></li>
                  <li><a href="#">Чехлы на матрас</a></li>
                  <li><a href="#">Анаматрасники</a></li>
                  <li><a href="#">Детские матрасы</a></li>
                </ul>
              </div>
              <div class="products__item">
                <h6 class="products__title">Особенности</h6>
                <ul class="products__list">
                  <li><a href="#">Двухспальные</a></li>
                  <li><a href="#">Односпальные</a></li>
                  <li><a href="#">Полуторные</a></li>
                  <li><a href="#">Евро</a></li>
                  <li><a href="#">Ортопедические</a></li>
                </ul>
              </div>
              <div class="products__item">
                <h6 class="products__title">По жесткости</h6>
                <ul class="products__list">
                  <li><a href="#">Пружинные</a></li>
                  <li><a href="#">Средней жесткости</a></li>
                  <li><a href="#">Жесткие</a></li>
                  <li><a href="#">Очень жесткие</a></li>
                  <li><a href="#">Разносторонней жесткости</a></li>
                </ul>
              </div>
              <div class="products__item">
                <h6 class="products__title">По размеру</h6>
                <ul class="products__list">
                  <li><a href="#">80x200</a></li>
                  <li><a href="#">90x200</a></li>
                  <li><a href="#">120x200</a></li>
                  <li><a href="#">140x200</a></li>
                  <li><a href="#">160x200</a></li>
                  <li><a href="#">180x200</a></li>
                  <li><a href="#">200x200</a></li>
                </ul>
              </div>
              <div class="products__item">
                <h6 class="products__title">По свойствам</h6>
                <ul class="products__list">
                  <li><a href="#">Пружинные</a></li>
                  <li><a href="#">Беспружинные</a></li>
                  <li><a href="#">Снезависимым пружинным блоком</a></li>
                </ul>
              </div>
              <div class="products__item">
                <h6 class="products__title">По материалау</h6>
                <ul class="products__list">
                  <li><a href="#">Латексные</a></li>
                  <li><a href="#">Кокосовые</a></li>
                  <li><a href="#">С ортопедической пеной</a></li>
                  <li><a href="#">Изпены с памятью формы</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="products__banners">
            <a href="#">
              <img src="@img//content/sale-slider/sale-slide-4.jpg" alt="Баннер">
            </a>
            <a href="#">
              <img src="@img//content/sale-slider/sale-slide-5.jpg" alt="Баннер">
            </a>
          </div>
        </div>
      </li>
      <li class="products-menu__item">
        <a href="#" class="products__link">
          <img class="products__icon" src="@img//content/category-slider/category-6.png" alt="Мебель">
          Мебель
        </a>
        <div class="products-submenu">
          <div class="products-submenu__content">
            <h5 class="products-submenu__name">Мебель</h5>
            <div class="products__inner">
              <div class="products__item">
                <h6 class="products__title">По категориям</h6>
                <ul class="products__list">
                  <li><a href="#">Американские матрасы</a></li>
                  <li><a href="#">Чехлы на матрас</a></li>
                  <li><a href="#">Анаматрасники</a></li>
                  <li><a href="#">Детские матрасы</a></li>
                </ul>
              </div>
              <div class="products__item">
                <h6 class="products__title">Особенности</h6>
                <ul class="products__list">
                  <li><a href="#">Двухспальные</a></li>
                  <li><a href="#">Односпальные</a></li>
                  <li><a href="#">Полуторные</a></li>
                  <li><a href="#">Евро</a></li>
                  <li><a href="#">Ортопедические</a></li>
                </ul>
              </div>
              <div class="products__item">
                <h6 class="products__title">По жесткости</h6>
                <ul class="products__list">
                  <li><a href="#">Пружинные</a></li>
                  <li><a href="#">Средней жесткости</a></li>
                  <li><a href="#">Жесткие</a></li>
                  <li><a href="#">Очень жесткие</a></li>
                  <li><a href="#">Разносторонней жесткости</a></li>
                </ul>
              </div>
              <div class="products__item">
                <h6 class="products__title">По размеру</h6>
                <ul class="products__list">
                  <li><a href="#">80x200</a></li>
                  <li><a href="#">90x200</a></li>
                  <li><a href="#">120x200</a></li>
                  <li><a href="#">140x200</a></li>
                  <li><a href="#">160x200</a></li>
                  <li><a href="#">180x200</a></li>
                  <li><a href="#">200x200</a></li>
                </ul>
              </div>
              <div class="products__item">
                <h6 class="products__title">По свойствам</h6>
                <ul class="products__list">
                  <li><a href="#">Пружинные</a></li>
                  <li><a href="#">Беспружинные</a></li>
                  <li><a href="#">Снезависимым пружинным блоком</a></li>
                </ul>
              </div>
              <div class="products__item">
                <h6 class="products__title">По материалау</h6>
                <ul class="products__list">
                  <li><a href="#">Латексные</a></li>
                  <li><a href="#">Кокосовые</a></li>
                  <li><a href="#">С ортопедической пеной</a></li>
                  <li><a href="#">Изпены с памятью формы</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="products__banners">
            <a href="#">
              <img src="@img//content/sale-slider/sale-slide-4.jpg" alt="Баннер">
            </a>
            <a href="#">
              <img src="@img//content/sale-slider/sale-slide-5.jpg" alt="Баннер">
            </a>
          </div>
        </div>
      </li>
      <li class="products-menu__item">
        <a href="#" class="products__link">
          <img class="products__icon" src="@img//content/category-slider/category-8.png" alt="Для дома">
          Для дома
        </a>
        <div class="products-submenu">
          <div class="products-submenu__content">
            <h5 class="products-submenu__name">Для дома</h5>
            <div class="products__inner">
              <div class="products__item">
                <h6 class="products__title">По категориям</h6>
                <ul class="products__list">
                  <li><a href="#">Американские матрасы</a></li>
                  <li><a href="#">Чехлы на матрас</a></li>
                  <li><a href="#">Анаматрасники</a></li>
                  <li><a href="#">Детские матрасы</a></li>
                </ul>
              </div>
              <div class="products__item">
                <h6 class="products__title">Особенности</h6>
                <ul class="products__list">
                  <li><a href="#">Двухспальные</a></li>
                  <li><a href="#">Односпальные</a></li>
                  <li><a href="#">Полуторные</a></li>
                  <li><a href="#">Евро</a></li>
                  <li><a href="#">Ортопедические</a></li>
                </ul>
              </div>
              <div class="products__item">
                <h6 class="products__title">По жесткости</h6>
                <ul class="products__list">
                  <li><a href="#">Пружинные</a></li>
                  <li><a href="#">Средней жесткости</a></li>
                  <li><a href="#">Жесткие</a></li>
                  <li><a href="#">Очень жесткие</a></li>
                  <li><a href="#">Разносторонней жесткости</a></li>
                </ul>
              </div>
              <div class="products__item">
                <h6 class="products__title">По размеру</h6>
                <ul class="products__list">
                  <li><a href="#">80x200</a></li>
                  <li><a href="#">90x200</a></li>
                  <li><a href="#">120x200</a></li>
                  <li><a href="#">140x200</a></li>
                  <li><a href="#">160x200</a></li>
                  <li><a href="#">180x200</a></li>
                  <li><a href="#">200x200</a></li>
                </ul>
              </div>
              <div class="products__item">
                <h6 class="products__title">По свойствам</h6>
                <ul class="products__list">
                  <li><a href="#">Пружинные</a></li>
                  <li><a href="#">Беспружинные</a></li>
                  <li><a href="#">Снезависимым пружинным блоком</a></li>
                </ul>
              </div>
              <div class="products__item">
                <h6 class="products__title">По материалау</h6>
                <ul class="products__list">
                  <li><a href="#">Латексные</a></li>
                  <li><a href="#">Кокосовые</a></li>
                  <li><a href="#">С ортопедической пеной</a></li>
                  <li><a href="#">Изпены с памятью формы</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="products__banners">
            <a href="#">
              <img src="@img//content/sale-slider/sale-slide-4.jpg" alt="Баннер">
            </a>
            <a href="#">
              <img src="@img//content/sale-slider/sale-slide-5.jpg" alt="Баннер">
            </a>
          </div>
        </div>
      </li>
      <li class="products-menu__item">
        <a href="#" class="products__link products__link--sale">
          <img class="products__icon" src="@img//icons/sale.svg" alt="Акции">
          Акции
        </a>
        <div class="products-submenu">
          <div class="products-submenu__content">
            <h5 class="products-submenu__name">Акции</h5>
            <div class="products__inner">
              <div class="products__item">
                <h6 class="products__title">По категориям</h6>
                <ul class="products__list">
                  <li><a href="#">Американские матрасы</a></li>
                  <li><a href="#">Чехлы на матрас</a></li>
                  <li><a href="#">Анаматрасники</a></li>
                  <li><a href="#">Детские матрасы</a></li>
                </ul>
              </div>
              <div class="products__item">
                <h6 class="products__title">Особенности</h6>
                <ul class="products__list">
                  <li><a href="#">Двухспальные</a></li>
                  <li><a href="#">Односпальные</a></li>
                  <li><a href="#">Полуторные</a></li>
                  <li><a href="#">Евро</a></li>
                  <li><a href="#">Ортопедические</a></li>
                </ul>
              </div>
              <div class="products__item">
                <h6 class="products__title">По жесткости</h6>
                <ul class="products__list">
                  <li><a href="#">Пружинные</a></li>
                  <li><a href="#">Средней жесткости</a></li>
                  <li><a href="#">Жесткие</a></li>
                  <li><a href="#">Очень жесткие</a></li>
                  <li><a href="#">Разносторонней жесткости</a></li>
                </ul>
              </div>
              <div class="products__item">
                <h6 class="products__title">По размеру</h6>
                <ul class="products__list">
                  <li><a href="#">80x200</a></li>
                  <li><a href="#">90x200</a></li>
                  <li><a href="#">120x200</a></li>
                  <li><a href="#">140x200</a></li>
                  <li><a href="#">160x200</a></li>
                  <li><a href="#">180x200</a></li>
                  <li><a href="#">200x200</a></li>
                </ul>
              </div>
              <div class="products__item">
                <h6 class="products__title">По свойствам</h6>
                <ul class="products__list">
                  <li><a href="#">Пружинные</a></li>
                  <li><a href="#">Беспружинные</a></li>
                  <li><a href="#">Снезависимым пружинным блоком</a></li>
                </ul>
              </div>
              <div class="products__item">
                <h6 class="products__title">По материалау</h6>
                <ul class="products__list">
                  <li><a href="#">Латексные</a></li>
                  <li><a href="#">Кокосовые</a></li>
                  <li><a href="#">С ортопедической пеной</a></li>
                  <li><a href="#">Изпены с памятью формы</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="products__banners">
            <a href="#">
              <img src="@img//content/sale-slider/sale-slide-4.jpg" alt="Баннер">
            </a>
            <a href="#">
              <img src="@img//content/sale-slider/sale-slide-5.jpg" alt="Баннер">
            </a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>