@media (max-width: 1440px) {
  .container {
    max-width: 1720px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media (max-width: 1440px) {
  body {
    min-width: 320px;
    font-size: 16px;
    // line-height: 1.4;
  }

  .accent-button {
    font-size: 17px;
  }

  .title-2 {
    font-size: 26px;
  }

  .title-3 {
    font-size: 21px;
    
  }

  .title-4 {
    font-size: 18px;
  }

  main {
    padding-top: 30px;
  }
}

@media (max-width: 768px) {
  main {
    padding-top: 100px;
  }
}
