<div class="benefits bg container">
  <div class="benefits__inner">
    <div class="benefits__head">
      <h2 class="benefits__title title-2">Всегда на связи</h2>
      <p class="benefits__text">Мы постоянно разрабатываем инновационные решения и выпускаем только такую продукцию, в которой уверены на 100%. День за днём мы работаем для того , чтобы каждую ночь вы погружались в здоровый сон, набираясь сил для новых свершений.</p>
    </div>
    <div class="benefits__box">
      <div class="benefits__item">
        <svg class="benefits__item-icon">
          <use href="images/icons/icons.svg#call-me" />
        </svg>
        <h6 class="benefits__item-title">Напишите или позвоните нам</h6>
        <p class="benefits__item-text benefits__item-text--sm">Консультанты Askona готовы ответить на любой ваш вопрос в режиме онлайн.</p>
        <a href="#" class="benefits__item-link">Задать вопрос</a>
      </div>
      <div class="benefits__item">
        <svg class="benefits__item-icon">
          <use href="images/icons/icons.svg#consultation" />
        </svg>
        <h6 class="benefits__item-title">Получите видеоконсультацию</h6>
        <p class="benefits__item-text benefits__item-text--sm">Консультанты Askona покажут вам товар онлайн и ответят на любые вопросы.
        </p>
        <a href="#" class="benefits__item-link">Задать вопрос</a>
      </div>
      <div class="benefits__item">
        <svg class="benefits__item-icon">
          <use href="images/icons/icons.svg#faq" />
        </svg>
        <h6 class="benefits__item-title">Узнайте ответы на частые вопросы</h6>
        <p class="benefits__item-text benefits__item-text--sm">Мы собрали самые популярные вопросы наших пользователей в одном удобном разделе.</p>
        <a href="#" class="benefits__item-link">Задать вопрос</a>
      </div>
    </div>
    <div class="benefits-slider splide" id="benefits-slider-2">
      <div class="splide__track">
        <div class="splide__list">
          <div class="benefits__item splide__slide">
            <svg class="benefits__item-icon">
              <use href="images/icons/icons.svg#call-me" />
            </svg>
            <h6 class="benefits__item-title">Напишите или позвоните нам</h6>
            <p class="benefits__item-text benefits__item-text--sm">Консультанты Askona готовы ответить на любой ваш вопрос в режиме онлайн.</p>
            <a href="#" class="benefits__item-link">Задать вопрос</a>
          </div>
          <div class="benefits__item splide__slide">
            <svg class="benefits__item-icon">
              <use href="images/icons/icons.svg#consultation" />
            </svg>
            <h6 class="benefits__item-title">Получите видеоконсультацию</h6>
            <p class="benefits__item-text benefits__item-text--sm">Консультанты Askona покажут вам товар онлайн и ответят на любые вопросы.</p>
            <a href="#" class="benefits__item-link">Задать вопрос</a>
          </div>
          <div class="benefits__item splide__slide">
            <svg class="benefits__item-icon">
              <use href="images/icons/icons.svg#faq" />
            </svg>
            <h6 class="benefits__item-title">Узнайте ответы на частые вопросы</h6>
            <p class="benefits__item-text benefits__item-text--sm">Мы собрали самые популярные вопросы наших пользователей в одном удобном разделе.</p>
            <a href="#" class="benefits__item-link">Задать вопрос</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>