<div class="benefits">
  <div class="benefits__inner container">
    <div class="benefits__head">
      <h2 class="benefits__title title-2">Askona заряжает сном</h2>
      <p class="benefits__text">Мы постоянно разрабатываем инновационные решения и выпускаем только такую продукцию, в которой уверены на 100%. День за днём мы работаем для того , чтобы каждую ночь вы погружались в здоровый сон, набираясь сил для новых свершений.</p>
    </div>
    <div class="benefits__box">
      <div class="benefits__item">
        <div class="benefits__item-icon">
          <img src="@img//icons/laboratory.svg" alt="icon">
        </div>
        <h6 class="benefits__item-title">Единственная в России лаборатория сна</h6>
        <p class="benefits__item-text">Сертифицированная по стандартам ISO. В ней мы создаем будущее. И тестируем все новые модели матрасов, диванов и кроватей Askona.</p>
      </div>
      <div class="benefits__item">
        <div class="benefits__item-icon">
          <img src="@img//icons/marka.svg" alt="icon">
        </div>
        <h6 class="benefits__item-title">Марка № 1 в России</h6>
        <p class="benefits__item-text benefits__item-text--lg">По результатам народного голосования. Мы прошли стажировку в лучших немецких и шведских компаниях, чтобы перенять стандарты качества и поднять их на ещё более высокий уровень.</p>
      </div>
      <div class="benefits__item">
        <div class="benefits__item-icon">
          <img src="@img//icons/eco.svg" alt="icon">
        </div>
        <h6 class="benefits__item-title">Забота об окружающей среде</h6>
        <p class="benefits__item-text">Мы максимально бережно взаимодействуем с природой, обеспечивая её сохранность. Доляперерабатываемых отходов в Askona составляет 100%.</p>
      </div>
    </div>
    <div class="benefits-slider splide" id="benefits-slider-1">
      <div class="splide__track">
        <div class="splide__list">
          <div class="benefits__item splide__slide">
            <div class="benefits__item-icon">
              <img src="@img//icons/laboratory.svg" alt="icon">
            </div>
            <h6 class="benefits__item-title">Единственная в России лаборатория сна</h6>
            <p class="benefits__item-text">Сертифицированная по стандартам ISO. В ней мы создаем будущее. И тестируем все новые модели матрасов, диванов и кроватей Askona.</p>
          </div>
          <div class="benefits__item splide__slide">
            <div class="benefits__item-icon">
              <img src="@img//icons/marka.svg" alt="icon">
            </div>
            <h6 class="benefits__item-title">Марка № 1 в России</h6>
            <p class="benefits__item-text benefits__item-text--lg">По результатам народного голосования. Мы прошли стажировку в лучших немецких и шведских компаниях, чтобы перенять стандарты качества и поднять их на ещё болеевысокий уровень.</p>
          </div>
          <div class="benefits__item splide__slide">
            <div class="benefits__item-icon">
              <img src="@img//icons/eco.svg" alt="icon">
            </div>
            <h6 class="benefits__item-title">Забота об окружающей среде</h6>
            <p class="benefits__item-text">Мы максимально бережно взаимодействуем с природой, обеспечивая её сохранность. Доля перерабатываемых отходов в Askona составляет 100%.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>