<div class="splide container category-slider category-slider--catalog" id="catalog-slider">
  <div class="splide__arrows">
    <button class="splide__arrow splide__arrow--prev" type="button">
      <svg>
        <use href="images/icons/icons.svg#slider-arrow-left" />
      </svg>
    </button>
    <button class="splide__arrow splide__arrow--next" type="button">
      <svg>
        <use href="images/icons/icons.svg#slider-arrow-right" />
      </svg>
    </button>
  </div>
  <div class="splide__track">
    <ul class="splide__list">
      <li class="splide__slide">
        <a href="catalog.html" class="category-slider__link">
          <img class="category-slider__image" src="@img//content/category-slider/category-1.png" alt="category-icon">
          <h6 class="category-slider__title">Матрасы</h6>
          <span class="category-slider__count">632</span>
        </a>
      </li>
      <li class="splide__slide">
        <a href="#" class="category-slider__link">
          <img class="category-slider__image" src="@img//content/category-slider/category-3.png" alt="category-icon">
          <h6 class="category-slider__title">Кровати</h6>
          <span class="category-slider__count">632</span>
        </a>
      </li>
      <li class="splide__slide">
        <a href="#" class="category-slider__link">
          <img class="category-slider__image" src="@img//content/category-slider/category-2.png" alt="category-icon">
          <h6 class="category-slider__title">Подушки</h6>
          <span class="category-slider__count">632</span>
        </a>
      </li>
      <li class="splide__slide">
        <a href="#" class="category-slider__link">
          <img class="category-slider__image" src="@img//content/category-slider/category-4.png" alt="category-icon">
          <h6 class="category-slider__title">Одеяла</h6>
          <span class="category-slider__count">632</span>
        </a>
      </li>
      <li class="splide__slide">
        <a href="#" class="category-slider__link">
          <img class="category-slider__image" src="@img//content/category-slider/category-5.png" alt="category-icon">
          <h6 class="category-slider__title">Диваны</h6>
          <span class="category-slider__count">632</span>
        </a>
      </li>
      <li class="splide__slide">
        <a href="#" class="category-slider__link">
          <img class="category-slider__image" src="@img//content/category-slider/category-6.png" alt="category-icon">
          <h6 class="category-slider__title">Мебель</h6>
          <span class="category-slider__count">632</span>
        </a>
      </li>
      <li class="splide__slide">
        <a href="#" class="category-slider__link">
          <img class="category-slider__image" src="@img//content/category-slider/category-7.png" alt="category-icon">
          <h6 class="category-slider__title">Для дома</h6>
          <span class="category-slider__count">632</span>
        </a>
      </li>
      <li class="splide__slide">
        <a href="#" class="category-slider__link">
          <img class="category-slider__image" src="@img//content/category-slider/category-8.png" alt="category-icon">
          <h6 class="category-slider__title">Кресла</h6>
          <span class="category-slider__count">632</span>
        </a>
      </li>
      <li class="splide__slide">
        <a href="#" class="category-slider__link">
          <img class="category-slider__image" src="@img//content/category-slider/category-9.png" alt="category-icon">
          <h6 class="category-slider__title">Пуфы</h6>
          <span class="category-slider__count">632</span>
        </a>
      </li>
      <li class="splide__slide">
        <a href="#" class="category-slider__link">
          <img class="category-slider__image" src="@img//content/category-slider/category-10.png" alt="category-icon">
          <h6 class="category-slider__title">Пледы</h6>
          <span class="category-slider__count">632</span>
        </a>
      </li>
      <li class="splide__slide">
        <a href="#" class="category-slider__link">
          <img class="category-slider__image" src="@img//content/category-slider/category-11.png" alt="category-icon">
          <h6 class="category-slider__title">Наматрасники</h6>
          <span class="category-slider__count">632</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="catalog-slider-progress">
    <div class="catalog-slider-progress-bar"></div>
  </div>
</div>