<div class="splide container category-slider" id="category-slider">
  <div class="splide__arrows">
    <button class="splide__arrow splide__arrow--prev">
      <img src="@img//icons/slider-arrow-left.svg" alt="slider-arrow">
    </button>
    <button class="splide__arrow splide__arrow--next">
      <img src="@img//icons/slider-arrow-right.svg" alt="slider-arrow">
    </button>
  </div>
  <div class="splide__track">
    <ul class="splide__list">
      <li class="category-slider__slide splide__slide">
        <div class="splide__slide-box">
          <a href="catalog.html" class="category-slider__link">
            <img class="category-slider__image" src="@img//content/category-slider/category-1.png" alt="category-icon">
            <h6 class="category-slider__title">Матрасы</h6>
          </a>
          <a href="#" class="category-slider__link">
            <img class="category-slider__image" src="@img//content/category-slider/category-3.png" alt="category-icon">
            <h6 class="category-slider__title">Кровати</h6>
          </a>
          <a href="#" class="category-slider__link">
            <img class="category-slider__image" src="@img//content/category-slider/category-2.png" alt="category-icon">
            <h6 class="category-slider__title">Подушки</h6>
          </a>
        </div>
        <div class="splide__slide-box">
          <a href="#" class="category-slider__link">
            <img class="category-slider__image" src="@img//content/category-slider/category-4.png" alt="category-icon">
            <h6 class="category-slider__title">Одеяла</h6>
          </a>
          <a href="#" class="category-slider__link">
            <img class="category-slider__image" src="@img//content/category-slider/category-5.png" alt="category-icon">
            <h6 class="category-slider__title">Диваны</h6>
          </a>
          <a href="#" class="category-slider__link">
            <img class="category-slider__image" src="@img//content/category-slider/category-6.png" alt="category-icon">
            <h6 class="category-slider__title">Мебель</h6>
          </a>
        </div>
      </li>
      <li class="category-slider__slide splide__slide">
        <div class="splide__slide-box">
          <a href="#" class="category-slider__link">
            <img class="category-slider__image" src="@img//content/category-slider/category-7.png" alt="category-icon">
            <h6 class="category-slider__title">Для дома</h6>
          </a>
          <a href="#" class="category-slider__link">
            <img class="category-slider__image" src="@img//content/category-slider/category-8.png" alt="category-icon">
            <h6 class="category-slider__title">Кресла</h6>
          </a>
          <a href="#" class="category-slider__link">
            <img class="category-slider__image" src="@img//content/category-slider/category-9.png" alt="category-icon">
            <h6 class="category-slider__title">Пуфы</h6>
          </a>
        </div>
        <div class="splide__slide-box">
          <a href="#" class="category-slider__link">
            <img class="category-slider__image" src="@img//content/category-slider/category-10.png" alt="category-icon">
            <h6 class="category-slider__title">Пледы</h6>
          </a>
          <a href="#" class="category-slider__link">
            <img class="category-slider__image" src="@img//content/category-slider/category-11.png" alt="category-icon">
            <h6 class="category-slider__title">Наматрасники</h6>
          </a>
          <a href="#" class="category-slider__link">
            <img class="category-slider__image" src="@img//content/category-slider/category-12.png" alt="category-icon">
            <h6 class="category-slider__title">Постельное белье
            </h6>
          </a>
        </div>
      </li>
    </ul>
  </div>
</div>