<div class="filter popup" id="filter">
  <div class="popup__overlay"></div>
  <div class="popup__box">
    <div class="popup__header">
      <h3 class="popup__title">Все фильтры</h3>
      <button class="popup__close" data-filter="close">
        <img src="@img//icons/close.svg" alt="close">
      </button>
    </div>
    <div class="filter__wrapper">
      <div class="filter__main">
        <div class="filter__block" data-accordion>
          <button class="filter__btn" data-accordion="btn">
            Цена
            <svg class="arrow-down__icon">
              <use href="images/icons/icons.svg#angle-down" />
            </svg>
          </button>
          <div class="filter__inner">
            <div class="filter-price">
              <div class="filter-price__fields">
                <div class="filter-price__group">
                  <span class="filter-price__text">От</span>
                  <input class="filter-price__field filter-price__field--min" type="number" value="21750" min="21750" max="14056600">
                </div>
                <div class="filter-price__group">
                  <span class="filter-price__text">До</span>
                  <input class="filter-price__field filter-price__field--max" type="number" value="14056600" min="21750" max="14056600">
                </div>
              </div>
              <div class="filter-price__slider"></div>
            </div>
          </div>
        </div>
        <div class="filter__block" data-accordion>
          <button class="filter__btn" data-accordion="btn">
            Размер матраса
            <svg class="arrow-down__icon">
              <use href="images/icons/icons.svg#angle-down" />
            </svg>
          </button>
          <div class="filter__inner">
            <div class="checkbox__item">
              <label class="checkbox__label" for="filter-size-11">
                <input class="checkbox__input" type="checkbox" id="filter-size-11" value="200x200">
                <span class="checkbox__switcher"></span>
                <span class="checkbox__text">200x200</span>
                <span class="checkbox__count">90</span>
              </label>
            </div>
            <div class="checkbox__item">
              <label class="checkbox__label" for="filter-size-12">
                <input class="checkbox__input" type="checkbox" id="filter-size-12" value="200x200">
                <span class="checkbox__switcher"></span>
                <span class="checkbox__text">200x200</span>
                <span class="checkbox__count">90</span>
              </label>
            </div>
            <div class="checkbox__item">
              <label class="checkbox__label" for="filter-size-13">
                <input class="checkbox__input" type="checkbox" id="filter-size-13" value="200x200">
                <span class="checkbox__switcher"></span>
                <span class="checkbox__text">200x200</span>
                <span class="checkbox__count">90</span>
              </label>
            </div>
            <div class="checkbox__item">
              <label class="checkbox__label" for="filter-size-14">
                <input class="checkbox__input" type="checkbox" id="filter-size-14" value="200x200">
                <span class="checkbox__switcher"></span>
                <span class="checkbox__text">200x200</span>
                <span class="checkbox__count">90</span>
              </label>
            </div>
            <div class="checkbox__item">
              <label class="checkbox__label" for="filter-size-15">
                <input class="checkbox__input" type="checkbox" id="filter-size-15" value="200x200">
                <span class="checkbox__switcher"></span>
                <span class="checkbox__text">200x200</span>
                <span class="checkbox__count">90</span>
              </label>
            </div>
            <div class="checkbox__item">
              <label class="checkbox__label" for="filter-size-16">
                <input class="checkbox__input" type="checkbox" id="filter-size-16" value="200x200">
                <span class="checkbox__switcher"></span>
                <span class="checkbox__text">200x200</span>
                <span class="checkbox__count">90</span>
              </label>
            </div>
            <div class="checkbox__item">
              <label class="checkbox__label" for="filter-size-17">
                <input class="checkbox__input" type="checkbox" id="filter-size-17" value="200x200">
                <span class="checkbox__switcher"></span>
                <span class="checkbox__text">200x200</span>
                <span class="checkbox__count">90</span>
              </label>
            </div>
            <div class="checkbox__item">
              <label class="checkbox__label" for="filter-size-18">
                <input class="checkbox__input" type="checkbox" id="filter-size-18" value="200x200">
                <span class="checkbox__switcher"></span>
                <span class="checkbox__text">200x200</span>
                <span class="checkbox__count">90</span>
              </label>
            </div>
          </div>
        </div>
        <div class="filter__block" data-accordion>
          <button class="filter__btn" data-accordion="btn">
            Тип
            <svg class="arrow-down__icon">
              <use href="images/icons/icons.svg#angle-down" />
            </svg>
          </button>
          <div class="filter__inner">
            <div class="checkbox__item">
              <label class="checkbox__label" for="filter-type-11">
                <input class="checkbox__input" type="checkbox" id="filter-type-11" value="200x200">
                <span class="checkbox__switcher"></span>
                <span class="checkbox__text">Анатомический матрас</span>
                <span class="checkbox__count">90</span>
              </label>
            </div>
            <div class="checkbox__item">
              <label class="checkbox__label" for="filter-type-12">
                <input class="checkbox__input" type="checkbox" id="filter-type-12" value="200x200">
                <span class="checkbox__switcher"></span>
                <span class="checkbox__text">Матрас</span>
                <span class="checkbox__count">90</span>
              </label>
            </div>
            <div class="checkbox__item">
              <label class="checkbox__label" for="filter-type-13">
                <input class="checkbox__input" type="checkbox" id="filter-type-13" value="200x200">
                <span class="checkbox__switcher"></span>
                <span class="checkbox__text">Овальный детский матрас</span>
                <span class="checkbox__count">90</span>
              </label>
            </div>
            <div class="checkbox__item">
              <label class="checkbox__label" for="filter-type-14">
                <input class="checkbox__input" type="checkbox" id="filter-type-14" value="200x200">
                <span class="checkbox__switcher"></span>
                <span class="checkbox__text">Круглый анатомический матрас</span>
                <span class="checkbox__count">90</span>
              </label>
            </div>
            <div class="checkbox__item">
              <label class="checkbox__label" for="filter-type-15">
                <input class="checkbox__input" type="checkbox" id="filter-type-15" value="200x200">
                <span class="checkbox__switcher"></span>
                <span class="checkbox__text">Анатомический матрас</span>
                <span class="checkbox__count">90</span>
              </label>
            </div>
            <div class="checkbox__item">
              <label class="checkbox__label" for="filter-type-16">
                <input class="checkbox__input" type="checkbox" id="filter-type-16" value="200x200">
                <span class="checkbox__switcher"></span>
                <span class="checkbox__text">Анатомический матрас</span>
                <span class="checkbox__count">90</span>
              </label>
            </div>
            <div class="checkbox__item">
              <label class="checkbox__label" for="filter-type-17">
                <input class="checkbox__input" type="checkbox" id="filter-type-17" value="200x200">
                <span class="checkbox__switcher"></span>
                <span class="checkbox__text">Анатомический матрас</span>
                <span class="checkbox__count">90</span>
              </label>
            </div>
            <div class="checkbox__item">
              <label class="checkbox__label" for="filter-type-18">
                <input class="checkbox__input" type="checkbox" id="filter-type-18" value="200x200">
                <span class="checkbox__switcher"></span>
                <span class="checkbox__text">Анатомический матрас</span>
                <span class="checkbox__count">90</span>
              </label>
            </div>
          </div>
        </div>
        <div class="filter__block" data-accordion>
          <button class="filter__btn" data-accordion="btn">
            Форма матраса
            <svg class="arrow-down__icon">
              <use href="images/icons/icons.svg#angle-down" />
            </svg>
          </button>
          <div class="filter__inner">
            <div class="checkbox__item">
              <label class="checkbox__label" for="filter-shape-1">
                <input class="checkbox__input" type="checkbox" id="filter-shape-1" value="200x200">
                <span class="checkbox__switcher"></span>
                <span class="checkbox__text">Тонкие</span>
                <span class="checkbox__count">20</span>
              </label>
            </div>
            <div class="checkbox__item">
              <label class="checkbox__label" for="filter-shape-2">
                <input class="checkbox__input" type="checkbox" id="filter-shape-2" value="200x200">
                <span class="checkbox__switcher"></span>
                <span class="checkbox__text">В скрутке</span>
                <span class="checkbox__count">90</span>
              </label>
            </div>
            <div class="checkbox__item">
              <label class="checkbox__label" for="filter-shape-3">
                <input class="checkbox__input" type="checkbox" id="filter-shape-3" value="200x200" disabled>
                <span class="checkbox__switcher"></span>
                <span class="checkbox__text">Овальные</span>
                <span class="checkbox__count">90</span>
              </label>
            </div>
            <div class="checkbox__item">
              <label class="checkbox__label" for="filter-shape-4">
                <input class="checkbox__input" type="checkbox" id="filter-shape-4" value="200x200">
                <span class="checkbox__switcher"></span>
                <span class="checkbox__text">Высокие</span>
                <span class="checkbox__count">90</span>
              </label>
            </div>
            <div class="checkbox__item">
              <label class="checkbox__label" for="filter-shape-5">
                <input class="checkbox__input" type="checkbox" id="filter-shape-5" value="200x200">
                <span class="checkbox__switcher"></span>
                <span class="checkbox__text">Круглые</span>
                <span class="checkbox__count">90</span>
              </label>
            </div>
            <div class="checkbox__item">
              <label class="checkbox__label" for="filter-shape-6">
                <input class="checkbox__input" type="checkbox" id="filter-shape-6" value="200x200">
                <span class="checkbox__switcher"></span>
                <span class="checkbox__text">Овальные</span>
                <span class="checkbox__count">90</span>
              </label>
            </div>
          </div>
        </div>
        <div class="filter__block" data-accordion>
          <button class="filter__btn" data-accordion="btn">
            Особенности матраса
            <svg class="arrow-down__icon">
              <use href="images/icons/icons.svg#angle-down" />
            </svg>
          </button>
          <div class="filter__inner">
            <div class="checkbox__item">
              <label class="checkbox__label" for="filter-features-1">
                <input class="checkbox__input" type="checkbox" id="filter-features-1" value="200x200">
                <span class="checkbox__switcher"></span>
                <span class="checkbox__text">Спальные</span>
                <span class="checkbox__count">90</span>
              </label>
            </div>
            <div class="checkbox__item">
              <label class="checkbox__label" for="filter-features-2">
                <input class="checkbox__input" type="checkbox" id="filter-features-2" value="200x200">
                <span class="checkbox__switcher"></span>
                <span class="checkbox__text">Ортопедические</span>
                <span class="checkbox__count">90</span>
              </label>
            </div>
            <div class="checkbox__item">
              <label class="checkbox__label" for="filter-features-3">
                <input class="checkbox__input" type="checkbox" id="filter-features-3" value="200x200">
                <span class="checkbox__switcher"></span>
                <span class="checkbox__text">Двусторонние</span>
                <span class="checkbox__count">90</span>
              </label>
            </div>
            <div class="checkbox__item">
              <label class="checkbox__label" for="filter-features-4">
                <input class="checkbox__input" type="checkbox" id="filter-features-4" value="200x200">
                <span class="checkbox__switcher"></span>
                <span class="checkbox__text">Анатомические</span>
                <span class="checkbox__count">90</span>
              </label>
            </div>
          </div>
        </div>
        <div class="filter__block" data-accordion>
          <button class="filter__btn" data-accordion="btn">
            Высота матраса
            <svg class="arrow-down__icon">
              <use href="images/icons/icons.svg#angle-down" />
            </svg>
          </button>
          <div class="filter__inner">
            <div class="checkbox__item">
              <label class="checkbox__label" for="filter-height-1">
                <input class="checkbox__input" type="checkbox" id="filter-height-1" value="200x200">
                <span class="checkbox__switcher"></span>
                <span class="checkbox__text">14 см</span>
                <span class="checkbox__count">90</span>
              </label>
            </div>
            <div class="checkbox__item">
              <label class="checkbox__label" for="filter-height-2">
                <input class="checkbox__input" type="checkbox" id="filter-height-2" value="200x200">
                <span class="checkbox__switcher"></span>
                <span class="checkbox__text">8.5 см</span>
                <span class="checkbox__count">90</span>
              </label>
            </div>
            <div class="checkbox__item">
              <label class="checkbox__label" for="filter-height-3">
                <input class="checkbox__input" type="checkbox" id="filter-height-3" value="200x200">
                <span class="checkbox__switcher"></span>
                <span class="checkbox__text">27 см</span>
                <span class="checkbox__count">90</span>
              </label>
            </div>
            <div class="checkbox__item">
              <label class="checkbox__label" for="filter-height-4">
                <input class="checkbox__input" type="checkbox" id="filter-height-4" value="200x200">
                <span class="checkbox__switcher"></span>
                <span class="checkbox__text">17 см</span>
                <span class="checkbox__count">90</span>
              </label>
            </div>
          </div>
        </div>
        <div class="filter__block" data-accordion>
          <button class="filter__btn" data-accordion="btn">
            Съемный чехол
            <svg class="arrow-down__icon">
              <use href="images/icons/icons.svg#angle-down" />
            </svg>
          </button>
          <div class="filter__inner">
            <div class="checkbox__item">
              <label class="checkbox__label" for="filter-case-1">
                <input class="checkbox__input" type="checkbox" id="filter-case-1" value="200x200">
                <span class="checkbox__switcher"></span>
                <span class="checkbox__text">Нет</span>
                <span class="checkbox__count">5</span>
              </label>
            </div>
          </div>
        </div>
        <div class="filter__block" data-accordion>
          <button class="filter__btn" data-accordion="btn">
            Жёсткость
            <svg class="arrow-down__icon">
              <use href="images/icons/icons.svg#angle-down" />
            </svg>
          </button>
          <div class="filter__inner">
            <div class="checkbox__item">
              <label class="checkbox__label" for="filter-hardness-1">
                <input class="checkbox__input" type="checkbox" id="filter-hardness-1" value="200x200">
                <span class="checkbox__switcher"></span>
                <span class="checkbox__text">14 см</span>
                <span class="checkbox__count">90</span>
              </label>
            </div>
            <div class="checkbox__item">
              <label class="checkbox__label" for="filter-hardness-2">
                <input class="checkbox__input" type="checkbox" id="filter-hardness-2" value="200x200">
                <span class="checkbox__switcher"></span>
                <span class="checkbox__text">8.5 см</span>
                <span class="checkbox__count">90</span>
              </label>
            </div>
            <div class="checkbox__item">
              <label class="checkbox__label" for="filter-hardness-3">
                <input class="checkbox__input" type="checkbox" id="filter-hardness-3" value="200x200">
                <span class="checkbox__switcher"></span>
                <span class="checkbox__text">27 см</span>
                <span class="checkbox__count">90</span>
              </label>
            </div>
            <div class="checkbox__item">
              <label class="checkbox__label" for="filter-hardness-4">
                <input class="checkbox__input" type="checkbox" id="filter-hardness-4" value="200x200">
                <span class="checkbox__switcher"></span>
                <span class="checkbox__text">17 см</span>
                <span class="checkbox__count">90</span>
              </label>
            </div>
          </div>
        </div>
        <div class="filter__block" data-accordion>
          <button class="filter__btn" data-accordion="btn">
            Наполнитель
            <svg class="arrow-down__icon">
              <use href="images/icons/icons.svg#angle-down" />
            </svg>
          </button>
          <div class="filter__inner">
            <div class="checkbox__item">
              <label class="checkbox__label" for="filter-filler-1">
                <input class="checkbox__input" type="checkbox" id="filter-filler-1" value="200x200">
                <span class="checkbox__switcher"></span>
                <span class="checkbox__text">14 см</span>
                <span class="checkbox__count">90</span>
              </label>
            </div>
            <div class="checkbox__item">
              <label class="checkbox__label" for="filter-filler-2">
                <input class="checkbox__input" type="checkbox" id="filter-filler-2" value="200x200">
                <span class="checkbox__switcher"></span>
                <span class="checkbox__text">8.5 см</span>
                <span class="checkbox__count">90</span>
              </label>
            </div>
            <div class="checkbox__item">
              <label class="checkbox__label" for="filter-filler-3">
                <input class="checkbox__input" type="checkbox" id="filter-filler-3" value="200x200">
                <span class="checkbox__switcher"></span>
                <span class="checkbox__text">27 см</span>
                <span class="checkbox__count">90</span>
              </label>
            </div>
            <div class="checkbox__item">
              <label class="checkbox__label" for="filter-filler-4">
                <input class="checkbox__input" type="checkbox" id="filter-filler-4" value="200x200">
                <span class="checkbox__switcher"></span>
                <span class="checkbox__text">17 см</span>
                <span class="checkbox__count">90</span>
              </label>
            </div>
          </div>
        </div>
        <div class="filter__block" data-accordion>
          <button class="filter__btn" data-accordion="btn">
            Размерность
            <svg class="arrow-down__icon">
              <use href="images/icons/icons.svg#angle-down" />
            </svg>
          </button>
          <div class="filter__inner">
            <div class="checkbox__item">
              <label class="checkbox__label" for="filter-dimension-1">
                <input class="checkbox__input" type="checkbox" id="filter-dimension-1" value="200x200">
                <span class="checkbox__switcher"></span>
                <span class="checkbox__text">14 см</span>
                <span class="checkbox__count">90</span>
              </label>
            </div>
            <div class="checkbox__item">
              <label class="checkbox__label" for="filter-dimension-2">
                <input class="checkbox__input" type="checkbox" id="filter-dimension-2" value="200x200">
                <span class="checkbox__switcher"></span>
                <span class="checkbox__text">8.5 см</span>
                <span class="checkbox__count">90</span>
              </label>
            </div>
            <div class="checkbox__item">
              <label class="checkbox__label" for="filter-dimension-3">
                <input class="checkbox__input" type="checkbox" id="filter-dimension-3" value="200x200">
                <span class="checkbox__switcher"></span>
                <span class="checkbox__text">27 см</span>
                <span class="checkbox__count">90</span>
              </label>
            </div>
            <div class="checkbox__item">
              <label class="checkbox__label" for="filter-dimension-4">
                <input class="checkbox__input" type="checkbox" id="filter-dimension-4" value="200x200">
                <span class="checkbox__switcher"></span>
                <span class="checkbox__text">17 см</span>
                <span class="checkbox__count">90</span>
              </label>
            </div>
          </div>
        </div>
        <div class="filter__block" data-accordion>
          <button class="filter__btn" data-accordion="btn">
            Бренд
            <svg class="arrow-down__icon">
              <use href="images/icons/icons.svg#angle-down" />
            </svg>
          </button>
          <div class="filter__inner">
            <div class="checkbox__item">
              <label class="checkbox__label" for="filter-brand-1">
                <input class="checkbox__input" type="checkbox" id="filter-brand-1" value="200x200">
                <span class="checkbox__switcher"></span>
                <span class="checkbox__text">Askona</span>
                <span class="checkbox__count">90</span>
              </label>
            </div>
            <div class="checkbox__item">
              <label class="checkbox__label" for="filter-brand-2">
                <input class="checkbox__input" type="checkbox" id="filter-brand-2" value="200x200">
                <span class="checkbox__switcher"></span>
                <span class="checkbox__text">King Koil</span>
                <span class="checkbox__count">90</span>
              </label>
            </div>
            <div class="checkbox__item">
              <label class="checkbox__label" for="filter-brand-3">
                <input class="checkbox__input" type="checkbox" id="filter-brand-3" value="200x200" disabled>
                <span class="checkbox__switcher"></span>
                <span class="checkbox__text">Serta</span>
                <span class="checkbox__count">90</span>
              </label>
            </div>
            <div class="checkbox__item">
              <label class="checkbox__label" for="filter-brand-4">
                <input class="checkbox__input" type="checkbox" id="filter-brand-4" value="200x200" disabled>
                <span class="checkbox__switcher"></span>
                <span class="checkbox__text">Sleep Professor</span>
                <span class="checkbox__count">90</span>
              </label>
            </div>
          </div>
        </div>
        <div class="filter__block" data-accordion>
          <button class="filter__btn" data-accordion="btn">
            Вес на спальное место
            <svg class="arrow-down__icon">
              <use href="images/icons/icons.svg#angle-down" />
            </svg>
          </button>
          <div class="filter__inner">
            <div class="checkbox__item">
              <label class="checkbox__label" for="filter-weight-1">
                <input class="checkbox__input" type="checkbox" id="filter-weight-1" value="200x200">
                <span class="checkbox__switcher"></span>
                <span class="checkbox__text">Askona</span>
                <span class="checkbox__count">90</span>
              </label>
            </div>
            <div class="checkbox__item">
              <label class="checkbox__label" for="filter-weight-2">
                <input class="checkbox__input" type="checkbox" id="filter-weight-2" value="200x200">
                <span class="checkbox__switcher"></span>
                <span class="checkbox__text">King Koil</span>
                <span class="checkbox__count">90</span>
              </label>
            </div>
            <div class="checkbox__item">
              <label class="checkbox__label" for="filter-weight-3">
                <input class="checkbox__input" type="checkbox" id="filter-weight-3" value="200x200" disabled>
                <span class="checkbox__switcher"></span>
                <span class="checkbox__text">Serta</span>
                <span class="checkbox__count">90</span>
              </label>
            </div>
            <div class="checkbox__item">
              <label class="checkbox__label" for="filter-weight-4">
                <input class="checkbox__input" type="checkbox" id="filter-weight-4" value="200x200" disabled>
                <span class="checkbox__switcher"></span>
                <span class="checkbox__text">Sleep Professor</span>
                <span class="checkbox__count">90</span>
              </label>
            </div>
          </div>
        </div>
        <div class="filter__block" data-accordion>
          <button class="filter__btn" data-accordion="btn">
            Пружинный блок
            <svg class="arrow-down__icon">
              <use href="images/icons/icons.svg#angle-down" />
            </svg>
          </button>
          <div class="filter__inner">
            <div class="checkbox__item">
              <label class="checkbox__label" for="filter-spring-1">
                <input class="checkbox__input" type="checkbox" id="filter-spring-1" value="200x200">
                <span class="checkbox__switcher"></span>
                <span class="checkbox__text">Askona</span>
                <span class="checkbox__count">90</span>
              </label>
            </div>
            <div class="checkbox__item">
              <label class="checkbox__label" for="filter-spring-2">
                <input class="checkbox__input" type="checkbox" id="filter-spring-2" value="200x200">
                <span class="checkbox__switcher"></span>
                <span class="checkbox__text">King Koil</span>
                <span class="checkbox__count">90</span>
              </label>
            </div>
            <div class="checkbox__item">
              <label class="checkbox__label" for="filter-spring-3">
                <input class="checkbox__input" type="checkbox" id="filter-spring-3" value="200x200" disabled>
                <span class="checkbox__switcher"></span>
                <span class="checkbox__text">Serta</span>
                <span class="checkbox__count">90</span>
              </label>
            </div>
            <div class="checkbox__item">
              <label class="checkbox__label" for="filter-spring-4">
                <input class="checkbox__input" type="checkbox" id="filter-spring-4" value="200x200" disabled>
                <span class="checkbox__switcher"></span>
                <span class="checkbox__text">Sleep Professor</span>
                <span class="checkbox__count">90</span>
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="filter__footer">
        <button class="btn btn--accent" type="button">Показать 10 товаров</button>
        <button class="btn btn--white" type="reset">Сбросить фильтр</button>
      </div>
    </div>
  </div>
</div>