<footer class="footer">
  <div class="footer__inner container">
    <div class="footer__wrapper">
      <div class="footer__blockLink">
        <div class="footer__line">
          <div class="footer__box" data-accordion>
            <button class="footer__btn" type="button" data-accordion="btn">
              <span class="footer__box-title">Покупателям</span>
              <svg class="arrow-down__icon">
                <use href="images/icons/icons.svg#angle-down" />
              </svg>
            </button>
            <h4 class="footer__box-title">Покупателям</h4>
            <div class="footer__box-columnWrapper">
              <div class="footer__box-column">
                <a href="#" class="footer__link">Оплата и доставка</a>
                <a href="#" class="footer__link">Вопросы и ответы</a>
                <a href="#" class="footer__link">Рассрочка</a>
                <a href="#" class="footer__link">Обмен и возврат товара</a>
              </div>
              <div class="footer__box-column">
                <a href="#" class="footer__link">Гарантия</a>
                <a href="#" class="footer__link">Публичная оферта</a>
                <a href="#" class="footer__link">Статус заказа</a>
                <a href="#" class="footer__link">Подача претензии</a>
              </div>
            </div>
          </div>
          <div class="footer__box" data-accordion>
            <button class="footer__btn" type="button" data-accordion="btn">
              <span class="footer__box-title">Компания</span>
              <svg class="arrow-down__icon">
                <use href="images/icons/icons.svg#angle-down" />
              </svg>
            </button>
            <h4 class="footer__box-title">Компания</h4>
            <div class="footer__box-columnWrapper">
              <div class="footer__box-column">
                <a href="#" class="footer__link">О нас</a>
                <a href="#" class="footer__link">Блог</a>
                <a href="#" class="footer__link">Вакансии</a>
                <a href="#" class="footer__link">Контакты</a>
              </div>
              <div class="footer__box-column">
                <a href="#" class="footer__link">Реквизиты</a>
                <a href="#" class="footer__link">Принципы и миссия</a>
                <a href="#" class="footer__link">Производство</a>
              </div>
            </div>
          </div>
        </div>
        <div class="footer__line">
          <div class="footer__box" data-accordion>
            <button class="footer__btn" type="button" data-accordion="btn">
              <span class="footer__box-title">Предложения</span>
              <svg class="arrow-down__icon">
                <use href="images/icons/icons.svg#angle-down" />
              </svg>
            </button>
            <h4 class="footer__box-title">Предложения</h4>
            <div class="footer__box-columnWrapper">
              <div class="footer__box-column">
                <a href="#" class="footer__link">Бонусная программа</a>
                <a href="#" class="footer__link">Акции</a>
                <a href="#" class="footer__link">Уцененные товары</a>
              </div>
              <div class="footer__box-column">
                <a href="#" class="footer__link">Рекомендуемые товары</a>
                <a href="#" class="footer__link">Детальный подбор</a>
              </div>
            </div>
          </div>
          <div class="footer__box" data-accordion>
            <button class="footer__btn" type="button" data-accordion="btn">
              <span class="footer__box-title">Партнерам</span>
              <svg class="arrow-down__icon">
                <use href="images/icons/icons.svg#angle-down" />
              </svg>
            </button>
            <h4 class="footer__box-title">Партнерам</h4>
            <div class="footer__box-columnWrapper">
              <div class="footer__box-column">
                <a href="#" class="footer__link">Франчайзинг</a>
                <a href="#" class="footer__link">Юридическим лицам</a>
              </div>
              <div class="footer__box-column">
                <a href="#" class="footer__link">Предложения для отелей</a>
                <a href="#" class="footer__link">Оптовые предложения</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer__blockContact">
        <div class="footer__contact-media">
          <h4 class="footer__box-title">Следите за новостями</h4>
          <a href="#" class="footer__contact-mediaLink" target="_blank">
            <svg class="footer__contact-icon">
              <use href="images/icons/icons.svg#facebook" />
            </svg>
          </a>
          <a href="#" class="footer__contact-mediaLink" target="_blank">
            <svg class="footer__contact-icon">
              <use href="images/icons/icons.svg#instagram" />
            </svg>
          </a>
          <a href="#" class="footer__contact-mediaLink" target="_blank">
            <svg class="footer__contact-icon">
              <use href="images/icons/icons.svg#vk" />
            </svg>
          </a>
          <a href="#" class="footer__contact-mediaLink" target="_blank">
            <svg class="footer__contact-icon">
              <use href="images/icons/icons.svg#youtube" />
            </svg>
          </a>
          <a href="#" class="footer__contact-mediaLink" target="_blank">
            <svg class="footer__contact-icon">
              <use href="images/icons/icons.svg#telegram" />
            </svg>
          </a>
        </div>
        <div class="footer__contact-phone">
          <a href="tel:+375447870750" class="footer__contact-phoneNumber">
            <img src="@img//icons/media/phone-1.png" alt="Phone icon">
            <span><b>+375 (44)</b>787-07-50</span>
          </a>
          <a href="tel:+375292520396" class="footer__contact-phoneNumber">
            <img src="@img//icons/media/phone-2.svg" alt="Phone icon">
            <span><b>+375 (29)</b>252-03-96</span>

          </a>
          <a href="tel:+375255003743" class="footer__contact-phoneNumber">
            <img src="@img//icons/media/phone-3.svg" alt="Phone icon">
            +375 (25) 500-37-43
          </a>
        </div>
      </div>
    </div>
    <div class="footer__blockPolicy">
      <a href="#" class="footer__link">Политика конфеденциальности</a>
      <a href="#" class="footer__dev footer__link">
        Сайт разработан
        <img src="@img//global/dev.svg" alt="development">
      </a>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="container">
      <div class="footer__bottom-inner">
        <div class="footer__bottom-copy">
          <h6 class="footer__bottom-copyTitle">© 1990–2022. Компания «Аскона»</h6>
          В торг. реестре с 18.12.2019г., № 468759, УНП 193341168, Мингорисполком. ООО «ТД
          Аскона-Импорт» юр.адрес: 220089, город Минск, проспект Дзержинского, дом 57, помещение №
          54-1, 14-й этаж.
        </div>
        <div class="footer__bottom-parthners">
          <a href="#" class="footer__bottom-parthnersLink">
            <img src="@img//icons/parthners/parthner-1.svg" alt="parthner">
          </a>
          <a href="#" class="footer__bottom-parthnersLink">
            <img src="@img//icons/parthners/parthner-2.svg" alt="parthner">
          </a>
          <a href="#" class="footer__bottom-parthnersLink">
            <img src="@img//icons/parthners/parthner-3.svg" alt="parthner">
          </a>
          <a href="#" class="footer__bottom-parthnersLink">
            <img src="@img//icons/parthners/parthner-4.svg" alt="parthner">
          </a>
          <a href="#" class="footer__bottom-parthnersLink">
            <img src="@img//icons/parthners/parthner-5.svg" alt="parthner">
          </a>
          <a href="#" class="footer__bottom-parthnersLink">
            <img src="@img//icons/parthners/parthner-6.svg" alt="parthner">
          </a>
          <a href="#" class="footer__bottom-parthnersLink">
            <img src="@img//icons/parthners/parthner-7.svg" alt="parthner">
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>