<div class="banner" data-banner="main">
  <div class="banner__container">
    <a href="#" class="banner__link">
      <img class="banner__img" src="@img///content/banner.png" alt="banner">
    </a>
    <button class="banner__close" data-banner="close" type="button">
      <img src="@img//icons/close-banner.svg" alt="close btn">
    </button>
  </div>
</div>
<header class="header">
  <div class="container">
    <div class="header__top">
      <button class="header-mobile__burger" type="button">
        <span>Меню</span>
      </button>
      <a href="index.html" class="header__top-logo">
        <img src="@img//global/logo.svg" alt="logo">
      </a>
      <div class="header__top-box">
        <div class="header__top-countryWrapper">
          <button class="header__top-country" type="button">
            <img class="header__top-countryFlag" src="@img//icons/rus.svg" alt="rus">
            <span class="header__top-countryToggler">
              <svg class="arrow-down__icon">
                <use href="images/icons/icons.svg#angle-down" />
              </svg>
            </span>
          </button>
          <div class="header__top-countryList">
            <button class="header__top-country" type="button">
              <img class="header__top-countryFlag" src="@img//icons/kz.svg" alt="kz">
            </button>
            <button class="header__top-country" type="button">
              <img class="header__top-countryFlag" src="@img//icons/usa.svg" alt="usa">
            </button>
          </div>
        </div>
        <button class="header__top-city" type="button">
          Минск
          <svg class="arrow-down__icon">
            <use href="images/icons/icons.svg#angle-down" />
          </svg>
        </button>
        <div class="header__top-shop">Магазины: <span>30</span></div>
        <div class="header__top-search">
          <button class="header__top-searchButton" type="button">
            <svg class="header__top-search__icon">
              <use href="images/icons/icons.svg#search" />
            </svg>
          </button>
          <input type="text" placeholder="Поиск по товарам..." class="header__top-searchField">
        </div>
        <a href="tel:+79991043195" class="header__top-call">
          <svg class="header__top-search__icon">
            <use href="images/icons/icons.svg#menu-call" />
          </svg>
          <span>Перезвоните мне</span>
        </a>
        <div class="header__numbers">
          <button class="header__top-numbers header__number">
            7176
            <span>показать<br>номера
            </span>
          </button>
          <a href="tel:+79991043195" class="header__top-numbers header__top-numbers--hide header__number--hide">+7 999 104 31 95</a>
        </div>
      </div>
      <div class="header__top-buttons">
        <a href="#" class="header__top-buttons__item">
          <svg class="header__top-icon">
            <use href="images/icons/icons.svg#personal-account" />
          </svg>
        </a>
        <a href="#" class="header__top-buttons__item">
          <svg class="header__top-icon">
            <use href="images/icons/icons.svg#comparision" />
          </svg>
        </a>
        <a href="#" class="header__top-buttons__item">
          <svg class="header__top-icon">
            <use href="images/icons/icons.svg#favourite" />
          </svg>
          <span class="header__top-buttons__item-counter">14</span>
        </a>
        <button type="button" data-opener data-popup="cart" class="header__top-buttons__item">
          <svg class="header__top-icon">
            <use href="images/icons/icons.svg#cart" />
          </svg>
          <span class="header__top-buttons__item-counter">2</span>
        </button>
      </div>
      <a href="tel:79991043195" class="header-mobile__call">
        <img src="@img//icons/call-mobile.svg" alt="call">
      </a>
    </div>
    <div class="header__top-search header__top-search--mobile">
      <button class="header__top-searchButton" type="button">
        <svg class="header__top-search__icon">
          <use href="images/icons/icons.svg#search" />
        </svg>
      </button>
      <input type="text" placeholder="Поиск по товарам..." class="header__top-searchField">
    </div>
    <div class="header__inner">
      <button class="header__allProducts btn btn--accent">
        <img src="@img//icons/button-burger.svg" alt="menu icon">
        Все товары
      </button>
      <nav class="header__menu">
        <ul class="header__menu-list">
          <li class="header__menu-item">
            <a href="catalog.html" class="header__menu-link">Матрасы</a>
          </li>
          <li class="header__menu-item">
            <a href="catalog.html" class="header__menu-link">Подушки</a>
          </li>
          <li class="header__menu-item">
            <a href="catalog.html" class="header__menu-link">Кровати</a>
          </li>
          <li class="header__menu-item">
            <a href="catalog.html" class="header__menu-link">Одеяла</a>
          </li>
          <li class="header__menu-item">
            <a href="catalog.html" class="header__menu-link">Диваны</a>
          </li>
          <li class="header__menu-item">
            <a href="catalog.html" class="header__menu-link">Детские товары</a>
          </li>
          <li class="header__menu-item">
            <a href="catalog.html" class="header__menu-link">Мебель</a>
          </li>
          <li class="header__menu-item">
            <a href="catalog.html" class="header__menu-link">Для дома</a>
          </li>
        </ul>
      </nav>
      <a href="#" class="header__sale">
        <img src="@img//icons/sale.svg" alt="sale icon">
        Акции
      </a>
    </div>
    <div class="header-mobile__menu">
      <div class="header-mobile__box">
        <div class="header-mobile__wrapper">
          <a href="#" class="header-mobile__link">
            <div class="header-mobile__link-box">
              <div class="header-mobile__image">
                <img src="@img//icons/location.svg" alt="location-image">
              </div>
              <h6 class="header-mobile__title header-mobile__title--grey">Ваш город:<b>Минск</b></h6>
            </div>
            <svg class="header-mobile__arrow arrow-down__icon">
              <use href="images/icons/icons.svg#angle-down" />
            </svg>
          </a>
        </div>
        <div class="header-mobile__wrapper">
          <a href="#" class="header-mobile__link">
            <div class="header-mobile__link-box">
              <div class="header-mobile__image">
                <img src="@img//content/category-slider/category-1.png" alt="category-image">
              </div>
              <h6 class="header-mobile__title">Матрасы</h6>
            </div>
            <svg class="header-mobile__arrow arrow-down__icon">
              <use href="images/icons/icons.svg#angle-down" />
            </svg>
          </a>
          <div class="header-mobile-submenu">
            <div class="header-mobile__wrapper">
              <a href="#" class="header-mobile__link">
                <div class="header-mobile__link-box">
                  <div class="header-mobile__image">
                    <img src="@img//icons/location.svg" alt="location-image">
                  </div>
                  <h6 class="header-mobile__title header-mobile__title--grey">Ваш город:<b>Минск</b></h6>
                </div>
                <svg class="header-mobile__arrow arrow-down__icon">
                  <use href="images/icons/icons.svg#angle-down" />
                </svg>
              </a>
            </div>
            <div class="header-mobile__wrapper">
              <a href="#" class="header-mobile__link header-mobile__link--sm header-mobile__link--back">
                <svg class="header-mobile__arrow header-mobile__arrow--back arrow-down__icon">
                  <use href="images/icons/icons.svg#angle-down" />
                </svg>
                <div class="header-mobile__link-box">
                  <h6 class="header-mobile__title">Назад</h6>
                </div>
              </a>
            </div>
            <div class="header-mobile__wrapper">
              <a href="#" class="header-mobile__link header-mobile__link--sm">
                <div class="header-mobile__link-box">
                  <h6 class="header-mobile__title">Все матрасы</h6>
                </div>
                <svg class="header-mobile__arrow arrow-down__icon">
                  <use href="images/icons/icons.svg#angle-down" />
                </svg>
              </a>
            </div>
            <div class="header-mobile__wrapper">
              <a href="#" class="header-mobile__link header-mobile__link--sm">
                <div class="header-mobile__link-box">
                  <h6 class="header-mobile__title">Американские матрасы</h6>
                </div>
                <svg class="header-mobile__arrow arrow-down__icon">
                  <use href="images/icons/icons.svg#angle-down" />
                </svg>
              </a>
            </div>
            <div class="header-mobile__wrapper">
              <a href="#" class="header-mobile__link header-mobile__link--sm">
                <div class="header-mobile__link-box">
                  <h6 class="header-mobile__title">Чехлы на матрас</h6>
                </div>
                <svg class="header-mobile__arrow arrow-down__icon">
                  <use href="images/icons/icons.svg#angle-down" />
                </svg>
              </a>
            </div>
            <div class="header-mobile__wrapper">
              <a href="#" class="header-mobile__link header-mobile__link--sm">
                <div class="header-mobile__link-box">
                  <h6 class="header-mobile__title">Наматрасники</h6>
                </div>
                <svg class="header-mobile__arrow arrow-down__icon">
                  <use href="images/icons/icons.svg#angle-down" />
                </svg>
              </a>
            </div>
            <div class="header-mobile__wrapper">
              <a href="#" class="header-mobile__link header-mobile__link--sm">
                <div class="header-mobile__link-box">
                  <h6 class="header-mobile__title">Детские матрасы</h6>
                </div>
                <svg class="header-mobile__arrow arrow-down__icon">
                  <use href="images/icons/icons.svg#angle-down" />
                </svg>
              </a>
            </div>
          </div>
        </div>
        <div class="header-mobile__wrapper">
          <a href="#" class="header-mobile__link">
            <div class="header-mobile__link-box">
              <div class="header-mobile__image">
                <img src="@img//content/category-slider/category-2.png" alt="category-image">
              </div>
              <h6 class="header-mobile__title">Подушки</h6>
            </div>
            <svg class="header-mobile__arrow arrow-down__icon">
              <use href="images/icons/icons.svg#angle-down" />
            </svg>
          </a>
        </div>
        <div class="header-mobile__wrapper">
          <a href="#" class="header-mobile__link">
            <div class="header-mobile__link-box">
              <div class="header-mobile__image">
                <img src="@img//content/category-slider/category-3.png" alt="category-image">
              </div>
              <h6 class="header-mobile__title">Кровати</h6>
            </div>
            <svg class="header-mobile__arrow arrow-down__icon">
              <use href="images/icons/icons.svg#angle-down" />
            </svg>
          </a>
        </div>
        <div class="header-mobile__wrapper">
          <a href="#" class="header-mobile__link">
            <div class="header-mobile__link-box">
              <div class="header-mobile__image">
                <img src="@img//content/category-slider/category-4.png" alt="category-image">
              </div>
              <h6 class="header-mobile__title">Одеяла</h6>
            </div>
            <svg class="header-mobile__arrow arrow-down__icon">
              <use href="images/icons/icons.svg#angle-down" />
            </svg>
          </a>
        </div>
        <div class="header-mobile__wrapper">
          <a href="#" class="header-mobile__link">
            <div class="header-mobile__link-box">
              <div class="header-mobile__image">
                <img src="@img//content/category-slider/category-5.png" alt="category-image">
              </div>
              <h6 class="header-mobile__title">Диваны</h6>
            </div>
            <svg class="header-mobile__arrow arrow-down__icon">
              <use href="images/icons/icons.svg#angle-down" />
            </svg>
          </a>
        </div>
        <div class="header-mobile__wrapper">
          <a href="#" class="header-mobile__link">
            <div class="header-mobile__link-box">
              <div class="header-mobile__image">
                <img src="@img//content/category-slider/category-6.png" alt="category-image">
              </div>
              <h6 class="header-mobile__title">Детские товары</h6>
            </div>
            <svg class="header-mobile__arrow arrow-down__icon">
              <use href="images/icons/icons.svg#angle-down" />
            </svg>
          </a>
        </div>
        <div class="header-mobile__wrapper">
          <a href="#" class="header-mobile__link">
            <div class="header-mobile__link-box">
              <div class="header-mobile__image">
                <img src="@img//content/category-slider/category-7.png" alt="category-image">
              </div>
              <h6 class="header-mobile__title">Мебель</h6>
            </div>
            <svg class="header-mobile__arrow arrow-down__icon">
              <use href="images/icons/icons.svg#angle-down" />
            </svg>
          </a>
        </div>
        <div class="header-mobile__wrapper">
          <a href="#" class="header-mobile__link">
            <div class="header-mobile__link-box">
              <div class="header-mobile__image">
                <img src="@img//content/category-slider/category-8.png" alt="category-image">
              </div>
              <h6 class="header-mobile__title">Для дома</h6>
            </div>
            <svg class="header-mobile__arrow arrow-down__icon">
              <use href="images/icons/icons.svg#angle-down" />
            </svg>
          </a>
        </div>
        <div class="header-mobile__wrapper">
          <a href="#" class="header-mobile__link sale">
            <div class="header-mobile__link-box">
              <div class="header-mobile__image">
                <img src="@img//icons/sale.svg" alt="category-image">
              </div>
              <h6 class="header-mobile__title">Акции</h6>
            </div>
            <svg class="header-mobile__arrow arrow-down__icon">
              <use href="images/icons/icons.svg#angle-down" />
            </svg>
          </a>
        </div>
      </div>
      <div class="header-mobile__footer">
        <div class="header-mobile__wrapper">
          <a href="#" class="header-mobile__link">
            <div class="header-mobile__link-box">
              <div class="header-mobile__image">
                <img src="@img//icons/store.svg" alt="location-image">
              </div>
              <h6 class="header-mobile__title">Магазины</h6>
            </div>
            <svg class="header-mobile__arrow arrow-down__icon">
              <use href="images/icons/icons.svg#angle-down" />
            </svg>
          </a>
        </div>
        <div class="header-mobile__footer-call">
          <div class="header-mobile__link header-mobile__link--call">
            <div class="header-mobile__link-box">
              <div class="header-mobile__image">
                <img src="@img//icons/menu-call.svg" alt="location-image">
              </div>
              <div class="header__numbers">
                <button class="header-mobile__title header__number" type="button">
                  7176
                  <span>показать номера</span>
                </button>
                <a href="tel:+79991043195" class="header__top-numbers header__top-numbers--hide header__number--hide">+7 999 104 31 95</a>
              </div>
            </div>
          </div>
        </div>
        <a href="tel:79991043195" class="header-mobile__footer-callLink">Перезвоните мне</a>
      </div>
    </div>
  </div>
  @@include('header/products-menu.html')
</header>