<div class="banner" data-banner="main">
  <div class="banner__container container">
    <a href="#" class="banner__link">
      <img class="banner__img" src="@img//content/banner.png" alt="banner">
    </a>
    <button class="banner__close" data-banner="close" type="button">
      <img src="@img//icons/close-banner.svg" alt="close btn">
    </button>
  </div>
</div>
<header class="header header--order">
  <div class="container container--order">
    <div class="header__top">
      <a href="index.html" class="header__top-logo">
        <img src="@img//global/logo.svg" alt="logo">
      </a>
      <div class="header__top-box">
        <div class="header__top-wrapper">
          <button class="header__top-city" type="button">
            Минск
            <svg class="arrow-down__icon">
              <use href="images/icons/icons.svg#angle-down" />
            </svg>
          </button>
          <div class="header__top-shop">
            Магазины: <span>30</span>
          </div>
        </div>
        <div class="header__top-wrapper">
          <a href="tel:+79991043195" class="header__top-call">
            <svg>
              <use href="images/icons/icons.svg#menu-call" />
            </svg>
            <span>Перезвоните мне</span>
          </a>
          <div class="header__numbers">
            <button class="header__top-numbers header__number">
              7176
              <span>показать<br>номера
              </span>
            </button>
            <a href="tel:+79991043195" class="header__top-numbers header__top-numbers--hide header__number--hide">+7 999 104 31 95</a>
          </div>
        </div>
      </div>
      <div class="header__top-buttons">
        <a href="#" class="header__top-buttons__item">
          <svg class="header__top-icon">
            <use href="images/icons/icons.svg#personal-account" />
          </svg>
        </a>
      </div>
    </div>
  </div>
</header>