<div class="info info-slider">
  <div class="info__inner container">
    <div class="info-slider splide" id="info-slider">
      <div class="splide__track">
        <div class="splide__list">
          <div class="info__box splide__slide" style="background-image: url('@img//global/info-banner-1.jpg')">
            <h4 class="info__box-title">Адреса магазинов</h4>
            <p class="info__box-text">
              Найдите ближайший салон или удобный для вас пункт самовывоза
            </p>
            <button class="info__box-button btn btn--accent" type="button">Показать на карте</button>
          </div>
          <div class="info__main splide__slide" style="background-image: url('@img//global/info-main-banner.jpg')">
            <h3 class="info__main-title">
              Забота о здоровье <br>
              детского сна
            </h3>
            <div class="info__main-sale">
              <div class="info__main-saleValue">10</div>
              <div class="info__main-saleInfo">
                <b>%</b><br>
                Дополнительная <br>
                скидка
              </div>
            </div>
            <button class="info__main-button btn btn--accent" type="button">Заказать</button>
          </div>
          <div class="info__box splide__slide" style="background-image: url('@img//global/info-banner-2.jpg')">
            <h4 class="info__box-title">Подбор матрасов</h4>
            <p class="info__box-text">
              Найдите ближайший салон или удобный для вас пункт самовывоза
            </p>
            <button class="info__box-button btn btn--accent" type="button">Подобрать матрас</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>