<div class="mobile-menu">
  <div class="container">
    <div class="mobile-menu__wrapper">
      <a class="mobile-menu__item" href="index.html">
        <svg class="mobile-menu__icon mobile-menu__icon--logo">
          <use href="images/icons/icons.svg#logo" />
        </svg>
        <span>Главная</span>
      </a>
      <a class="mobile-menu__item" href="catalog.html">
        <svg class="mobile-menu__icon">
          <use href="images/icons/icons.svg#catalog" />
        </svg>
        <span>Каталог</span>
      </a>
      <button class="mobile-menu__item" type="button" data-opener data-popup="cart">
        <svg class="mobile-menu__icon">
          <use href="images/icons/icons.svg#cart" />
        </svg>
        <span>Корзина</span>
        <span class="mobile-menu__counter">2</span>
      </button>
      <a class="mobile-menu__item" href="#">
        <svg class="mobile-menu__icon">
          <use href="images/icons/icons.svg#favourite" />
        </svg>
        <span>Избранное</span>
      </a>
      <a class="mobile-menu__item" href="#">
        <svg class="mobile-menu__icon">
          <use href="images/icons/icons.svg#personal-account" />
        </svg>
        <span>Профиль</span>
      </a>
    </div>
  </div>
</div>