<div class="product-card">
  <div class="product-card__image">
    <div class="product-card__mobileButtons">
      <button class="product-card__comparision product-card__mobileButtons-button" type="button">
        <svg class="product-card__icon">
          <use href="images/icons/icons.svg#comparision" />
        </svg>
      </button>
      <button class="product-card__favourite product-card__mobileButtons-button" type="button">
        <svg class="product-card__icon">
          <use href="images/icons/icons.svg#favourite" />
        </svg>
      </button>
    </div>
    <div class="splide splide__gallery">
      <div class="splide__track">
        <ul class="splide__list">
          <li class="splide__slide">
            <img src="@img//content/products/@@image" alt="product-image">
          </li>
          <li class="splide__slide">
            <img src="@img//content/products/product-2.jpg" alt="product-image">
          </li>
          <li class="splide__slide">
            <img src="@img//content/products/product-3.jpg" alt="product-image">
          </li>
          <li class="splide__slide">
            <img src="@img//content/products/product-4.jpg" alt="product-image">
          </li>
          <li class="splide__slide">
            <img src="@img//content/products/product-3.jpg" alt="product-image">
          </li>
        </ul>
      </div>
    </div>
    <div class="product-card__image-box">
      <div class="product-card__image-sale">
        <img src="@img//icons/sale-lable.svg" alt="sale">
        <div class="product-card__image-saleInfo">-50%</div>
      </div>
      <div class="product-card__image-lable">Товар недели</div>
    </div>
  </div>
  <div class="product-card__container">
    <a href="card.html" class="product-card__title">Анатомический матрас Askona <br>Benefit</a>
    <div class="product-card__price">
      от
      <span class="product-card__price--actual">48 900 BYN</span>
      <span class="product-card__price--old">97 800 BYN</span>
    </div>
    <div class="product-card__credit">
      Рассрочка от <span class="product-card__credit--price">289.5 BYN</span>
    </div>
    @@if (colors === 'true') {
    <div class="product-card__colors">
      <input class="product-card__colors-item" type="button" value="#553F34" style="background-color: #553F34;">
      <input class="product-card__colors-item" type="button" value="#153142" style="background-color: #153142;">
      <input class="product-card__colors-item" type="button" value="#7E8283" style="background-color: #7E8283;">
      <input class="product-card__colors-item" type="button" value="#553F34" style="background-color: #553F34;">
      <input class="product-card__colors-item" type="button" value="#153142" style="background-color: #153142;">
      <input class="product-card__colors-item" type="button" value="#7E8283" style="background-color: #7E8283;">
      <span class="product-card__colors-more">+ 12</span>
    </div>
    }
    @@if (colors !== 'true') {
    <div class="product-card__data">
      <div class="product-card__data-item">
        <svg class="product-card__data-icon">
          <use href="images/icons/icons.svg#height" />
        </svg>
        <div class="product-card__data-itemBox">
          <div class="product-card__data-itemTitle">Высота:</div>
          <div class="product-card__data-itemInfo">19 см</div>
        </div>
      </div>
      <div class="product-card__data-item">
        <svg class="product-card__data-icon">
          <use href="images/icons/icons.svg#weight" />
        </svg>
        <div class="product-card__data-itemBox">
          <div class="product-card__data-itemTitle">Вес на спальное место:</div>
          <div class="product-card__data-itemInfo">с выше 140 кг</div>
        </div>
      </div>
    </div>
    }
    <div class="product-card__addition">
      <div class="product-card__addition-content">
        <a href="#" class="product-card__more btn btn--accent btn--100">Подробнее</a>
      </div>
    </div>
  </div>
</div>