<div class="sale-slider splide" id="sale-slider">
  <div class="splide__track">
    <ul class="splide__list">
      <li class="sale-slider__item splide__slide">
        <img src="@img//content/sale-slider/sale-slide-1.jpg" alt="slide image">
      </li>
      <li class="sale-slider__item splide__slide">
        <img src="@img//content/sale-slider/sale-slide-2.jpg" alt="slide image">
      </li>
      <li class="sale-slider__item splide__slide">
        <img src="@img//content/sale-slider/sale-slide-3.jpg" alt="slide image">
      </li>
      <li class="sale-slider__item splide__slide">
        <img src="@img//content/sale-slider/sale-slide-1.jpg" alt="slide image">
      </li>
      <li class="sale-slider__item splide__slide">
        <img src="@img//content/sale-slider/sale-slide-3.jpg" alt="slide image">
      </li>
      <li class="sale-slider__item splide__slide">
        <img src="@img//content/sale-slider/sale-slide-6.jpg" alt="slide image">
      </li>
      <li class="sale-slider__item splide__slide">
        <img src="@img//content/sale-slider/sale-slide-1.jpg" alt="slide image">
      </li>
      <li class="sale-slider__item splide__slide">
        <img src="@img//content/sale-slider/sale-slide-3.jpg" alt="slide image">
      </li>
      <li class="sale-slider__item splide__slide">
        <img src="@img//content/sale-slider/sale-slide-2.jpg" alt="slide image">
      </li>
      <li class="sale-slider__item splide__slide">
        <img src="@img//content/sale-slider/sale-slide-6.jpg" alt="slide image">
      </li>
    </ul>
  </div>
</div>