.benefits {
  margin-bottom: 50px;
  background-color: #fff;

  &.bg {
    .benefits__inner {
      background-color: #f4f4f4;
    }
  }

  .benefits-slider {
    display: none;
  }

  &__inner {
    padding: 60px 0;
  }

  &__head {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
    text-align: center;
  }

  &__title {
    margin-bottom: 32px;
  }

  &__text {
    max-width: 730px;
  }

  &__box {
    display: flex;
    justify-content: center;

    @media (max-width: 902px) {
      flex-wrap: wrap;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 32px;

    width: 100%;
    text-align: center;

    &-icon {
      margin-bottom: 24px;

      img {
        width: 64px;
        height: 64px;
      }
    }

    &-title {
      font-weight: 500;
      font-size: 18px;
      line-height: 1.4;
      color: #212121;
      margin-bottom: 8px;
      max-width: 460px;

      @media (max-width: 1440px) {
        font-size: 15.7px;
        margin-bottom: 8px;
        max-width: none;
      }
    }

    &-text {
      max-width: 460px;
      font-size: 14px;
      line-height: 1.4;
      color: $gray;

      &--sm {
        max-width: 345px;
      }
    }

    &-link {
      font-weight: 500;
      font-size: 14px;
      line-height: 1.4;
      text-align: center;
      color: $accent;
      margin-top: 4px;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  @media (max-width: 1200px) {
    &__item {
      margin: 0 10px;

      &-text {
        font-size: 13.5px;
        max-width: none;

        &--sm {
          max-width: 320px;
        }
      }
    }
  }

  @media (max-width: 1024px) {
    &__item {
      &-title {
        font-size: 13.7px;
      }

      &-text {
        font-size: 11.8px;
      }
    }
  }

  @media (max-width: 902px) {
    &__item {
      margin: 0 0 32px;

      &-title {
        font-size: 18px;
      }

      &-text {
        font-size: 14px;

        &:not(&--sm) {
          max-width: 460px;
        }
      }
    }
  }

  @media (max-width: 768px) {
    .benefits-slider {
      display: block;
    }

    &__box {
      display: none;
    }

    &__inner {
      padding: 30px 5px 60px;
    }

    &__title {
      margin-bottom: 16px;
    }

    &__item {
      margin: 0;
      max-width: 100%;
      width: 100%;

      &-icon {
        height: 54px;
      }

      &-text--sm {
        max-width: 345px;
      }
    }
  }

  @media (max-width: 520px) {
    &__item {
      &-text {
        &:not(&--lg, &--sm) {
          max-width: 300px;
        }
      }

      &-text--sm {
        max-width: 345px;
      }
    }
  }
  @media (max-width: 425px) {
    .benefits__item-title {
      font-size: 17px;
    }
  }
}
