.breadcrumbs {
  display: flex;
  align-items: center;
}

.breadcrumbs__item {
  font-size: 14px;
  color: $dark-gray;
  line-height: 1.1;
  margin-right: 0.4em;
  position: relative;

  &:last-child {
    color: #878787;
  }

  &:hover {
    text-decoration: underline;
  }

  &:not(:first-child) {
    padding-left: 1em;

    &::before {
      content: "/";
      color: $dark-gray;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
    }
  }

  @media (max-width: 1440px) {
    font-size: 14px;
  }
}
