.btn {
  display: inline-grid;
  grid-auto-flow: column;
  align-items: center;
  column-gap: 1em;
  transition-property: background-color, color, border-color;
  transition-duration: 0.3s;
  border-radius: 0.2em;
  padding: 0.7em 0.9em;
  color: $dark-gray;
  line-height: 1.1;
  background-color: transparent;
  border: 1px solid transparent;
  font-weight: 500;
  font-size: 17px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;

  &:focus,
  &:focus-visible {
    border-color: $accent;
  }

  // img,
  // svg {
  //   margin-right: 1.2em;
  // }

  &--accent {
    background-color: #00b6c9;
    color: #fff;

    &:hover {
      background-color: #33c5d4;
    }
  }

  &--white {
    border-color: #d8d8d8;
    background-color: #fff;

    &:hover {
      border-color: #aaa;
    }
  }

  &--100 {
    width: 100%;
  }

  @media (max-width: 1200px) {
    font-size: 17px;
  }

  &--sm {
    font-size: 14px;
    padding: 0.8em 0.9em;

    @media (max-width: 1440px) {
      font-size: 14px;
    }

    @media (max-width: 1200px) {
      font-size: 14px;
    }
  }
}
