.category-slider {
  & .category-slider__link {
    display: flex;
    align-items: center;
    flex-direction: column;

    &:hover .category-slider__title {
      color: $accent;
    }
  }

  & .category-slider__title {
    margin-top: 0.8em;
    font-weight: 500;
    line-height: 1.1;
    font-size: 16px;
    color: $half-black;
    text-align: center;
    transition: color 0.3s;

    @media (max-width: 1200px) {
      font-size: 14px;
    }
  }

  & .category-slider__count {
    display: none;
    color: #1a1a18;
    font-size: 9px;
    line-height: 1.7;
    font-weight: 600;

    @media (max-width: 768px) {
      font-size: 9px;
      display: inline-block;
    }
  }

  & .category-slider__slide {
    display: flex;
    justify-content: center;

    @media (max-width: 580px) {
      flex-direction: column;
    }
  }

  .splide__slide-box {
    display: flex;
  }

  .category-slider__link {
    &:not(:first-child) {
      margin-left: 32px;
    }
  }

  .category-slider__image {
    transition: transform 0.3s;

    &:hover {
      transform: scale(1.15);
    }
  }

  .splide__pagination {
    display: none;
  }

  .splide__arrow {
    background: #fff;
    opacity: 1;
    width: 32px;
    height: 32px;
    top: 50%;

    &--prev {
      left: -30px;
    }

    &--next {
      right: -30px;
    }
  }

  @media (max-width: 1440px) {
    .splide__arrow {
      display: none;
    }
  }

  @media (max-width: 1200px) {
    margin-bottom: 30px;

    .splide__arrow {
      background: #fff;
      opacity: 1;
      width: 32px;
      height: 32px;
      top: 40%;

      &--prev {
        left: 25px;
      }

      &--next {
        right: 25px;
      }
    }
  }

  @media (min-width: 580px) and (max-width: 640px) {
    .category-slider__image {
      max-height: 55px;
    }
  }

  @media (max-width: 580px) {
    &:not(&--catalog) {
      margin-bottom: 65px;
    }

    .category-slider__slide {
      flex-wrap: wrap;
      padding: 0;
      justify-content: normal;
    }

    .splide__pagination {
      bottom: -27px;
      display: flex;
    }

    .splide__pagination__page {
      width: 6px;
      height: 6px;
      margin: 0 4px;
      background: #d8d8d8;
    }

    .splide__pagination__page.is-active {
      background: $accent;
      width: 6px;
      height: 6px;
      margin: 0 4px;
    }

    .splide__arrow {
      display: none;
    }

    .splide__slide-box {
      justify-content: space-between;
      max-width: 100%;
      width: 100%;

      &:not(:last-child) {
        padding-bottom: 15px;
      }
    }

    &:not(&--catalog) .category-slider__link {
      margin: 0 10px;
    }

    &:not(&--catalog) .category-slider__title {
      font-size: 12px;
    }
  }

  @media (max-width: 425px) {
    .category-slider__link {
      margin: 0 5px;
    }
  }

  &--catalog {
    margin-bottom: 0;

    @media (max-width: 768px) {
      & .category-slider__link {
        flex-direction: row;
        align-items: flex-start;
        margin: 0;

        &:hover {
          .category-slider__title {
            color: #1a1a18;
          }
        }
      }

      & .category-slider__image {
        display: none;
      }

      & .category-slider__title {
        color: $gray;
        font-size: 16px;
        font-weight: 500;
      }

      .catalog-slider-progress {
        background: #eee;
        height: 1px;
        margin: 0 -15px;
      }

      .catalog-slider-progress-bar {
        background-color: #1a1a18;
        height: 2px;
        transition: transform 500ms;
        width: 100px;
      }

      & .splide__slide.is-active {
        .category-slider__title {
          padding-bottom: 16px;
          font-weight: 600;
          color: #1a1a18;
          // border-bottom: 2px solid #1a1a18;
        }
      }
    }
  }
}
