.footer {
  background-color: #f8f8f8;
  padding: 72px 0;

  &__inner {
    padding-bottom: 14px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__link {
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 2;
    color: #757575;
    transition: color 0.1s;

    &:hover {
      color: $accent;
      text-decoration: underline;
    }
  }

  &__box-columnWrapper {
    display: flex;
    flex-wrap: wrap;
    margin-left: 30px;
  }

  &__box-column {
    width: 240px;

    @media (max-width: 1320px) {
      width: 210px;
    }

    @media (max-width: 1200px) {
      width: 200px;
    }
  }

  &__box-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.2;
    color: #000000;
    margin-bottom: 21px;
  }

  &__line {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 70px;
  }

  &__btn {
    display: none;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    @media (max-width: 902px) {
      padding: 16px 0;
      display: flex;

      &.active {
        padding-bottom: 0;

        svg {
          transform: rotate(180deg);
        }
      }

      & ~ .footer__box-title {
        display: none;
      }
    }
  }

  &__blockContact {
    display: flex;

    @media (min-width: 1200px) {
      flex-direction: column;
      align-items: flex-end;
    }
  }

  &__contact-mediaLink {
    margin: 0 6px;
  }

  &__contact-icon {
    width: 36px;
    height: 36px;
    color: #7e7e7e;

    transition: color 0.3s;

    &:hover,
    &:focus {
      color: $accent;
    }
  }

  &__contact-media {
    margin-bottom: 160px;
  }

  &__contact-phone {
    max-width: 240px;
    width: 100%;
  }

  .footer__contact-phoneNumber + .footer__contact-phoneNumber {
    margin-top: 30px;
  }

  &__contact-phoneNumber {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: right;
    color: #000000;
    justify-content: space-between;
    transition: color 0.3s;

    img {
      height: 23px;
    }

    &:hover {
      color: $accent;
    }
  }

  &__blockPolicy {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__dev {
    display: flex;
    align-items: center;

    img {
      margin-left: 12px;
      width: 63px;
      height: 17px;
    }
  }

  &__bottom {
    padding-top: 30px;
    border-top: 1px solid #ebebeb;
  }

  &__bottom-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__bottom-copy {
    max-width: 750px;
  }

  &__bottom-copyTitle {
    color: #231f20;
    margin-bottom: 4px;
  }

  &__bottom-parthners {
    display: flex;
    align-items: center;
  }

  &__bottom-parthnersLink {
    margin: 0 6px;

    img {
      height: 39px;
    }
  }

  @media (max-width: 1200px) {
    &__wrapper {
      display: block;
    }

    &__blockLink {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &__blockContact {
      justify-content: space-between;
      min-width: 255px;
      margin-bottom: 30px;
    }

    &__bottom-inner {
      flex-wrap: wrap;
      justify-content: center;
    }

    &__bottom-copy {
      max-width: 100%;
      text-align: center;
      margin-bottom: 30px;
    }
  }

  @media (max-width: 902px) {
    padding: 30px 0;

    &__contact-media {
      margin-bottom: 30px;
    }

    &__line {
      margin-bottom: 0;
      display: block;
      width: 100%;
    }

    &__box-columnWrapper {
      margin-top: 4px;
      margin-left: 10px;
      position: absolute;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.3s;
    }

    &__box {
      width: 100%;
      border-top: 1px solid #eee;

      &:last-child {
        border-bottom: 1px solid #eee;
      }
      &.active {
        padding-bottom: 16px;

        .footer__box-columnWrapper {
          opacity: 1;
          visibility: visible;
          position: static;
        }
      }
    }

    &__box-column {
      &:first-child {
        margin-right: 70px;
      }
    }

    &__blockPolicy {
      flex-wrap: wrap;
      white-space: nowrap;
      text-align: center;
      justify-content: center;

      .footer__link {
        margin: 0 12px;
      }
    }

    &__dev {
      order: -1;
    }

    &__bottom-parthners {
      margin: 0 -12px;
    }

    &__blockContact {
      max-width: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center;

      .footer__box-title {
        margin-bottom: 16px;
        margin-top: 30px;
        justify-content: center;
      }
    }

    &__box-title {
      font-size: 18px;
    }

    &__contact-phoneNumber {
      font-size: 16px;
    }

    &__contact-phone {
      max-width: 200px;
    }

    &__link {
      font-size: 14px;
    }

    &__box-title {
      margin-bottom: 0;
    }

    &__bottom {
      margin-top: 30px;
    }
  }

  @media (max-width: 768px) {
    padding-bottom: 18%;
  }

  @media (max-width: 520px) {
    padding-bottom: 20%;
    &__box-column {
      &:first-child {
        margin-right: 15px;
      }
    }
  }
}
