.info {
  margin-top: 60px;

  &__main {
    padding: 40px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right 20% center;
    background-color: $accent;
    border-radius: 4px;
    position: relative;

    @media (min-width: 902px) {
      margin: 0 32px;
      min-width: 49%;
    }
  }

  &__main-title {
    font-weight: 800;
    font-size: 24px;
    line-height: 28px;
    color: #ffffff;
    margin-bottom: 16px;
    text-transform: uppercase;
  }

  &__main-sale {
    color: $yellow;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }

  &__main-saleValue {
    font-weight: 800;
    font-size: 58px;
    line-height: 72px;
    margin-right: 8px;
  }

  &__main-saleInfo {
    font-weight: 800;
    font-size: 10px;
    text-transform: uppercase;
    line-height: 12.5px;

    b {
      font-size: 20px;
    }
  }

  &__main-button {
    background-color: #fff;
    color: $accent;
    min-width: 148px;
    font-size: 18px;
    line-height: 1.2;
    padding: 0.5em 0.9em;

    @media (max-width: 1200px) {
      font-size: 18px;
    }

    &:hover {
      background-color: #fefefe;
    }
  }

  &__box {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-radius: 4px;
    text-align: center;
    position: relative;
    max-width: 410px;
  }

  &__box-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: $black;
    margin-bottom: 15px;
  }

  &__box-text {
    max-width: 265px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: $black;
    margin-bottom: 50px;
  }

  &__box-button {
    min-width: 260px;
    font-size: 18px;
    line-height: 1.2;
    position: absolute;
    bottom: 40px;
    padding: 0.5em 0.9em;

    @media (max-width: 1200px) {
      font-size: 18px;
    }

    @media (max-width: 901px) {
      bottom: 20px;
    }
  }

  @media (max-width: 1440px) {
    &__main {
      border-radius: 4px;
    }
  }

  @media (max-width: 1200px) {
    margin-bottom: 60px;

    &__main-title {
      font-size: 24px;
      line-height: 28px;
      margin-bottom: 16px;
    }

    &__main-sale {
      margin-bottom: 16px;
    }

    &__main-saleValue {
      font-size: 58px;
      line-height: 72px;
      margin-right: 8px;
    }

    &__main-saleInfo {
      font-size: 10px;
      line-height: 12.5px;

      b {
        font-size: 20px;
      }
    }

    &__main-button {
      min-width: 148px;
    }

    &__box {
      padding: 0 10px;
      border-radius: 4px;
    }

    &__box-title {
      line-height: 29px;
      margin-bottom: 15px;
      font-size: 18px;
    }

    &__box-text {
      font-size: 14px;
      line-height: 19px;
      max-width: 265px;
      margin-bottom: 40px;
    }
  }

  @media (max-width: 901px) {

    &__main {
      padding: 20px;
    }

    &__box {
      max-width: none;
    }

    &__box-title {
      font-size: 24px;
      line-height: 22px;
    }

    &__box-text {
      font-size: 18px;
      line-height: 16px;
    }
  }

  @media (max-width: 768px) {
    &__main-title {
      font-size: 18px;
      margin-bottom: 0;
    }

    &__main-saleValue {
      font-size: 44px;
      margin-right: 4px;
    }

    &__main-saleInfo {
      font-size: 10px;
      line-height: 12.5px;

      b {
        font-size: 16px;
      }
    }

    &__box-title {
      font-size: 20px;
    }

    &__box-text {
      font-size: 16px;
    }
  }

  @media (max-width: 520px) {
    &__main {
      background-color: #00B9BF;
      background-position: right 30% center;
      background-size: 135%;
    }

    &__main-sale {
      margin-bottom: 0;
    }
  }
}