.info {
  margin-top: 60px;

  &__main {
    position: relative;
    margin: 0 32px;
    padding: 40px;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: right 20% center;
    background-color: #00b9bf;
    border-radius: 4px;

    @media (min-width: 903px) {
      min-width: 49%;
      flex: 1 1 0;
    }

    @media (max-width: 1200px) {
      padding: 24px;
    }

    @media (max-width: 1024px) {
      margin: 0 16px;
    }
  }

  &__main-title {
    font-weight: 800;
    font-size: 24px;
    line-height: 1.25;
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 0.6em;
  }

  &__main-sale {
    color: $yellow;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    font-weight: 800;
  }

  &__main-saleValue {
    margin-right: 0.15em;

    font-size: 58px;
    line-height: 1.25;
  }

  &__main-saleInfo {
    font-size: 10px;
    text-transform: uppercase;
    line-height: 1.2;

    b {
      font-size: 20px;
    }
  }

  &__main-button {
    background-color: #fff;
    color: $accent;
    min-width: 148px;
    font-size: 18px;
    line-height: 1.2;
    padding: 0.5em 0.9em;
    max-height: 40px;

    @media (max-width: 1024px) {
      font-size: 16px;
    }

    &:hover {
      background-color: #fefefe;
    }
  }

  &__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    max-width: 410px;
    padding: 0 10px;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    border-radius: 4px;
    text-align: center;

    @media (min-width: 903px) {
      flex: 1 1 0;
    }
  }

  &__box-title {
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    color: $black;
    margin-bottom: 15px;
  }

  &__box-text {
    max-width: 265px;
    font-weight: 500;
    font-size: 16px;
    color: $black;
    margin-bottom: 50px;
  }

  &__box-button {
    min-width: 260px;
    padding: 0.5em 0.9em;
    max-height: 40px;

    position: absolute;
    bottom: 40px;

    font-size: 18px;
    line-height: 1.2;

    @media (max-width: 1200px) {
      min-width: 0;
      bottom: 24px;
    }

    @media (max-width: 1024px) {
      font-size: 16px;
    }

    @media (max-width: 902px) {
      bottom: 20px;
    }
  }

  @media (max-width: 1200px) {
    margin-bottom: 60px;

    &__main-sale {
      margin-bottom: 16px;
    }

    &__box-title {
      font-size: 18px;
    }

    &__box-text {
      font-size: 14px;
    }
  }

  @media (max-width: 902px) {
    &__main {
      padding: 20px;
    }

    &__box-title {
      font-size: 20px;
    }

    &__box-text {
      font-size: 16px;
      max-width: 300px;
    }
  }

  @media (max-width: 768px) {
    &__main-title {
      font-size: 18px;
    }

    &__main-saleValue {
      font-size: 44px;
    }

    &__main-saleInfo {
      b {
        font-size: 16px;
      }
    }
  }

  @media (max-width: 520px) {
    &__main {
      background-position: right 30% center;
      background-size: 135%;
    }

    &__main-sale {
      margin-bottom: 6px;
    }
  }
}
