.mobile-menu {
  display: none;
  width: 100%;
  max-height: 75px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 500;

  background: #ffffff;
  box-shadow: 0 -2px 8px rgba(65, 111, 121, 0.14);

  @media (max-width: 768px) {
    display: block;
  }
}

.mobile-menu__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 0;
}

.mobile-menu__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 70px;

  color: $gray;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  font-weight: 500;

  @media (max-width: 520px) {
    font-size: 12px;
    width: 75px;
    height: 60px;
  }

  &:hover,
  &:focus {
    .mobile-menu__icon {
      fill: $accent;
    }

    .mobile-menu__counter {
      border-color: $accent;
    }

    color: $accent;
  }
}

.mobile-menu__icon {
  margin-bottom: 4px;
  width: 25px;
  height: 25px;
  fill: #b0b0b0;
  transition: fill 0.3s, stroke 0.3s;

  &--logo {
    fill: $accent;
  }

  @media (max-width: 520px) {
    width: 20px;
    height: 20px;
  }
}

.mobile-menu__counter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 13px;
  height: 13px;

  position: absolute;
  top: 15%;
  right: 25%;

  font-weight: 600;
  font-size: 8px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid #b0b0b0;
  color: #474747;
}
