.pagiantion {
  display: flex;
}

.pagination__list {
  display: flex;
  align-items: center;
}

.pagination__item {
  margin-right: 24px;

  @media (max-width: 902px) {
    margin-right: 20px;
  }
}

.pagination__link {
  text-decoration: none;
  color: #221c1c;
  font-size: 15px;
  line-height: 1;
  transition: color 0.3s;

  &.active {
    width: 40px;
    height: 40px;
    padding: 0.8em 1.1em;

    border-radius: 50%;
    border: 1px solid #221c1c;
  }

  &:hover {
    color: $accent;
  }

  @media (max-width: 1024px) {
    font-size: 12px;

    &.active {
      width: 32px;
      height: 32px;
    }
  }
}

.pagination__item--last {
  position: relative;
  padding-left: 35px;
  margin-right: 0;

  &::before {
    content: "...";
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 15px;
    color: #878787;
  }

  @media (max-width: 902px) {
    padding-left: 24px;
  }
}
.pagination__next {
  display: flex;
  align-items: center;
  margin-left: 2em;

  font-size: 15px;
  color: $gray;

  @media (max-width: 1024px) {
    font-size: 12px;
    margin-left: 1.5em;
  }

  @media (max-width: 520px) {
    display: none;
  }

  img {
    margin-left: 0.5em;
  }
}
