.product-card {
  background: #ffffff;
  border: 1px solid #eeeeee;
  border-radius: 4px;

  @media (max-width: 1200px) {
    height: 100%;
  }

  @media (min-width: 1025px) {
    &:hover {
      box-shadow: 0 0 9px 0 rgb(0 0 0 / 20%);
    }
  }

  &__mobileButtons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 6%;
    right: 2%;
    left: 2%;
    z-index: 15;

    &-button.active {
      .product-card__icon {
        color: #ff0064;
      }
    }

    @media (min-width: 768px) {
      opacity: 0;
    }
  }

  &__icon {
    width: 20px;
    height: 20px;
    color: #b1b1b1;
    transition: color 0.3s;

    &:hover {
      color: #ff0064;
    }
  }

  &__addition {
    position: relative;
    background-color: #fff;

    @media (max-width: 425px) {
      display: none;
    }
  }

  &__addition-content {
    width: calc(100% + 30px);
    padding: 0 22px 20px;
    position: absolute;
    left: -15px;
    top: -20px;
    z-index: 20;

    background-color: #fff;
    border: 1px solid #eeeeee;
    border-top: none;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, top 0.2s, visibility 0.3s;
    box-shadow: 0 10px 9px -9px rgb(0 0 0 / 20%), 9px 0 9px -9px rgb(0 0 0 / 20%), -9px 0 9px -9px rgb(0 0 0 / 20%);

    @media (max-width: 1024px) {
      box-shadow: none;
    }

    @media (max-width: 580px) {
      padding: 6px 14px 14px;
      border: none;
    }
  }

  &__more {
    margin-top: 20px;
    flex: 1 1 auto;
  }

  &:hover {
    .product-card__addition-content {
      opacity: 1;
      visibility: visible;
      top: 0;
    }

    .product-card__mobileButtons {
      opacity: 1;
    }

    .product-card__title {
      text-decoration: underline;
    }
  }

  &__image {
    min-height: 218px;
    overflow: hidden;
    margin: 0 14px;
    padding-bottom: 18px;
    position: relative;
    border-bottom: 1px solid #eeeeee;

    @media (max-width: 1200px) {
      min-height: 190px;
    }

    @media (max-width: 1024px) {
      min-height: 170px;
    }

    @media (max-width: 768px) {
      border: none;
      margin: 0 6px;
    }

    @media (max-width: 425px) {
      min-height: 150px;
      margin: 0;
    }

    &-box {
      height: 25px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 10px;
      bottom: 8%;
      position: absolute;
    }

    &-sale {
      position: relative;
      z-index: 5;

      img {
        width: 44px;
        height: 24px;
      }
    }

    &-saleInfo {
      font-weight: 600;
      font-size: 12px;
      color: #ffffff;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &-lable {
      padding: 0.5em 0.7em;
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 100px;
      background: #fec308;
      border-radius: 0.3em;
      color: #fff;
      font-weight: 500;
      font-size: 12px;
      z-index: 5;
    }
  }

  &__container {
    padding: 0 14px 18px;
    background-color: #fff;
  }

  &.empty {
    & .product-card__addition {
      margin-top: 50px;

      @media (max-width: 580px) {
        margin-top: 45px;
      }
    }

    & .product-card__credit {
      margin-bottom: 0;
    }
  }

  &__title {
    min-height: 60px;
    margin-bottom: 15px;
    color: #262626;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.1;
    padding-top: 26px;
  }

  &__price {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    color: $gray;
    font-size: 14px;
    line-height: 1.1;
    flex-wrap: wrap;

    &--actual {
      font-size: 16px;
      font-weight: 500;
      color: $accent;
      text-transform: uppercase;
      margin: 0 5px;

      @media (max-width: 1440px) {
        margin-left: 5px;
        margin-right: 10px;
      }
    }

    &--old {
      text-transform: uppercase;
      text-decoration: line-through;
    }
  }

  &__credit {
    font-size: 12px;
    line-height: 1.1;
    color: $gray;
    margin-bottom: 15px;

    &--price {
      color: $half-black;
      text-decoration: underline;
      font-size: 14px;
      text-transform: uppercase;
    }
  }

  &__data {
    display: flex;
    line-height: 1;
    column-gap: 14px;

    &-item {
      display: flex;
      align-items: center;
    }

    &-icon {
      margin-right: 14px;
      width: 20px;
      height: 20px;
      color: #231F20;

      @media (max-width: 1200px) {
        margin-right: 8px;
      }
    }

    &-itemTitle {
      font-weight: 500;
      font-size: 12px;
      color: $half-black;
      margin-bottom: 3px;
    }

    &-itemInfo {
      font-size: 14px;
      color: #878787;
    }
  }

  &__colors {
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 5px;

    &-item {
      width: 15px;
      height: 15px;
      border-radius: 50%;
      margin-right: 8px;
      border: none;
      padding: 0;
      cursor: pointer;
      font-size: 0;
      color: transparent;
      background-color: #553f34;

      @media (max-width: 520px) {
        width: 11px;
        height: 11px;
      }
    }

    &-more {
      font-size: 12px;
      color: $gray;
    }
  }

  @media (max-width: 1200px) {
    &__image {
      padding: 5px;

      &-box {
        padding: 0 13px 10px;
      }
    }

    &__data {
      column-gap: 5px;

      &-icon {
        height: 16px;
        width: 16px;
      }
    }
  }

  @media (max-width: 902px) {
    &__data {
      column-gap: 14px;
    }
  }

  @media (max-width: 580px) {
    border: none;

    &__image {
      padding: 0;
    }

    &__title {
      padding-top: 15px;
      font-size: 14px;
    }

    &__credit {
      display: none;
    }

    &__price {
      font-size: 12px;

      &--actual {
        font-size: 14px;
      }
    }

    &__data-icon {
      margin-right: 10px;
    }

    &__data-itemTitle {
      font-size: 10px;
    }

    &__data-itemInfo {
      font-size: 12px;
    }
  }
}
