.sale-slider {
  padding-top: 40px;
  margin-bottom: 90px;

  .splide__pagination {
    bottom: -35px;
  }

  .splide__pagination__page {
    background: #d8d8d8;
    width: 9px;
    height: 9px;
    margin: 0 4px;
  }

  .splide__pagination__page.is-active {
    background: $accent;
    transform: scale(1);
  }

  &__item {
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      transition: transform 0.3s;
    }

    &:hover {
      img {
        transform: scale(1.05);
      }
    }
  }

  @media (max-width: 1200px) {
    margin-bottom: 65px;
    padding-top: 0;

    .splide__pagination {
      bottom: -27px;
      display: flex;
    }

    .splide__pagination__page {
      width: 6px;
      height: 6px;
      margin: 0 4px;
      background: #d8d8d8;
    }

    .splide__pagination__page.is-active {
      background: $accent;
    }
  }

  @media (max-width: 768px) {
    padding-top: 15px;
  }
}
