<div class="card-popup popup" id="card-constructor">
  <div class="popup__overlay"></div>
  <div class="popup__box popup__box--without-scroll  popup__box--lg">
    <div class="popup__header">
      <h3 class="popup__title">Прямой диван Amani</h3>
      <button class="popup__close" data-filter="close">
        <img src="@img//icons/close.svg" alt="close">
      </button>
    </div>
    <div class="card-constructor__wrapper">
      <div class="card-constructor__inner scrollbar">
        <div class="card-constructor__photo">
          <img src="@img//content/card/1.jpg" alt="Constructor image">
          <button class="card-constructor__zoom">
            <svg>
              <use href="images/icons/icons.svg#zoom-sm" />
            </svg>
          </button>
        </div>
        <div class="card-options__item">
          <label class="card-options__label" for="constructor-select-1">Размер спального места:</label>
          <select class="card-select card-options__select select" autocomplete="off" id="constructor-select-1">
            <option value="1">140x200</option>
            <option value="2">160x200</option>
            <option value="3">180x200</option>
            <option value="4">200x200</option>
          </select>
        </div>
        <div class="card-options__item">
          <label class="card-options__label" for="constructor-select-2">Цвет:</label>
          <select class="card-select card-select--color card-options__select select" autocomplete="off" id="constructor-select-2">
            <option value="1">Серый</option>
            <option value="2">Коричневый</option>
            <option value="3">Синий</option>
          </select>
        </div>
        <div class="card-constructor__category">
          <span class="card-options__label">Ткань:</span>
          <span class="card-options__price">от 97 800 BYN</span>
        </div>

        <div class="card-popup__content">
          <div class="card-constructor__item active">
            <div class="card-constructor__preview">
              <img class="card-constructor__img" src="@img//content/card/fabric-6.jpg" alt="Fabric image">
              <input class="card-constructor__input" type="button" value="Sky Velvet">
              <div class="card-constructor__hover">
                <img class="card-constructor__img" src="@img//content/card/fabric-6.jpg" alt="Fabric image">
                <span class="card-constructor__name">Sky Velvet</span>
              </div>
            </div>
            <div class="card-constructor__info">
              <div class="card-constructor__name">Sky Velvet</div>
              <ul class="card-constructor__desc">
                <li>Серый</li>
                <li>Микровелюр</li>
              </ul>
              <div class="card-constructor__price">от <span>48 900 BYN</span></div>
            </div>
          </div>
          <div class="card-constructor__item">
            <div class="card-constructor__preview">
              <img class="card-constructor__img" src="@img//content/card/fabric-1.jpg" alt="Fabric image">
              <input class="card-constructor__input" type="button" value="Sky Velvet">
              <div class="card-constructor__hover">
                <img class="card-constructor__img" src="@img//content/card/fabric-1.jpg" alt="Fabric image">
                <span class="card-constructor__name">Sky Velvet</span>
              </div>
            </div>
            <div class="card-constructor__info">
              <div class="card-constructor__name">Sky Velvet</div>
              <ul class="card-constructor__desc">
                <li>Серый</li>
                <li>Микровелюр</li>
              </ul>
              <div class="card-constructor__price">от <span>48 900 BYN</span></div>
            </div>
          </div>
          <div class="card-constructor__item">
            <div class="card-constructor__preview">
              <img class="card-constructor__img" src="@img//content/card/fabric-2.jpg" alt="Fabric image">
              <input class="card-constructor__input" type="button" value="Sky Velvet">
              <div class="card-constructor__hover">
                <img class="card-constructor__img" src="@img//content/card/fabric-2.jpg" alt="Fabric image">
                <span class="card-constructor__name">Sky Velvet</span>
              </div>
            </div>
            <div class="card-constructor__info">
              <div class="card-constructor__name">Sky Velvet</div>
              <ul class="card-constructor__desc">
                <li>Серый</li>
                <li>Микровелюр</li>
              </ul>
              <div class="card-constructor__price">от <span>48 900 BYN</span></div>
            </div>
          </div>
          <div class="card-constructor__item">
            <div class="card-constructor__preview">
              <img class="card-constructor__img" src="@img//content/card/fabric-4.jpg" alt="Fabric image">
              <input class="card-constructor__input" type="button" value="Sky Velvet">
              <div class="card-constructor__hover">
                <img class="card-constructor__img" src="@img//content/card/fabric-4.jpg" alt="Fabric image">
                <span class="card-constructor__name">Sky Velvet</span>
              </div>
            </div>
            <div class="card-constructor__info">
              <div class="card-constructor__name">Sky Velvet</div>
              <ul class="card-constructor__desc">
                <li>Серый</li>
                <li>Микровелюр</li>
              </ul>
              <div class="card-constructor__price">от <span>48 900 BYN</span></div>
            </div>
          </div>
          <div class="card-constructor__item">
            <div class="card-constructor__preview">
              <img class="card-constructor__img" src="@img//content/card/fabric-3.jpg" alt="Fabric image">
              <input class="card-constructor__input" type="button" value="Sky Velvet">
              <div class="card-constructor__hover">
                <img class="card-constructor__img" src="@img//content/card/fabric-3.jpg" alt="Fabric image">
                <span class="card-constructor__name">Sky Velvet</span>
              </div>
            </div>
            <div class="card-constructor__info">
              <div class="card-constructor__name">Sky Velvet</div>
              <ul class="card-constructor__desc">
                <li>Серый</li>
                <li>Микровелюр</li>
              </ul>
              <div class="card-constructor__price">от <span>48 900 BYN</span></div>
            </div>
          </div>
          <div class="card-constructor__item">
            <div class="card-constructor__preview">
              <img class="card-constructor__img" src="@img//content/card/fabric-5.jpg" alt="Fabric image">
              <input class="card-constructor__input" type="button" value="Sky Velvet">
              <div class="card-constructor__hover">
                <img class="card-constructor__img" src="@img//content/card/fabric-5.jpg" alt="Fabric image">
                <span class="card-constructor__name">Iris 507</span>
              </div>
            </div>
            <div class="card-constructor__info">
              <div class="card-constructor__name">Iris 507</div>
              <ul class="card-constructor__desc">
                <li>Серый</li>
                <li>Микровелюр</li>
              </ul>
              <div class="card-constructor__price">от <span>48 900 BYN</span></div>
            </div>
          </div>
          <div class="card-constructor__item">
            <div class="card-constructor__preview">
              <img class="card-constructor__img" src="@img//content/card/fabric-7.jpg" alt="Fabric image">
              <input class="card-constructor__input" type="button" value="Sky Velvet">
              <div class="card-constructor__hover">
                <img class="card-constructor__img" src="@img//content/card/fabric-7.jpg" alt="Fabric image">
                <span class="card-constructor__name">Enrich1 848</span>
              </div>
            </div>
            <div class="card-constructor__info">
              <div class="card-constructor__name">Enrich1 848</div>
              <ul class="card-constructor__desc">
                <li>Серый</li>
                <li>Микровелюр</li>
              </ul>
              <div class="card-constructor__price">от <span>48 900 BYN</span></div>
            </div>
          </div>
          <div class="card-constructor__item">
            <div class="card-constructor__preview">
              <img class="card-constructor__img" src="@img//content/card/fabric-6.jpg" alt="Fabric image">
              <input class="card-constructor__input" type="button" value="Sky Velvet">
              <div class="card-constructor__hover">
                <img class="card-constructor__img" src="@img//content/card/fabric-6.jpg" alt="Fabric image">
                <span class="card-constructor__name">Enrich1 848</span>
              </div>
            </div>
            <div class="card-constructor__info">
              <div class="card-constructor__name">Enrich1 848</div>
              <ul class="card-constructor__desc">
                <li>Серый</li>
                <li>Микровелюр</li>
              </ul>
              <div class="card-constructor__price">от <span>48 900 BYN</span></div>
            </div>
          </div>
          <div class="card-constructor__item">
            <div class="card-constructor__preview">
              <img class="card-constructor__img" src="@img//content/card/fabric-8.jpg" alt="Fabric image">
              <input class="card-constructor__input" type="button" value="Sky Velvet">
              <div class="card-constructor__hover">
                <img class="card-constructor__img" src="@img//content/card/fabric-8.jpg" alt="Fabric image">
                <span class="card-constructor__name">Iris 507</span>
              </div>
            </div>
            <div class="card-constructor__info">
              <div class="card-constructor__name">Iris 507</div>
              <ul class="card-constructor__desc">
                <li>Серый</li>
                <li>Микровелюр</li>
              </ul>
              <div class="card-constructor__price">от <span>48 900 BYN</span></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>