<div class="card-popup popup" id="card-reviews">
  <div class="popup__overlay"></div>
  <div class="popup__box">
    <div class="popup__header card-reviews__header">
      <div class="card-reviews__left">
        <h3 class="title-3 card-reviews__title">Отзывы <span class="card-reviews__count">1</span></h3>
        <div class="card-reviews__rating card-reviews__rating--total">
          <svg class="card__rating card__rating--filled">
            <use href="images/icons/icons.svg#rating" />
          </svg>
          <svg class="card__rating card__rating--filled">
            <use href="images/icons/icons.svg#rating" />
          </svg>
          <svg class="card__rating card__rating--filled">
            <use href="images/icons/icons.svg#rating" />
          </svg>
          <svg class="card__rating card__rating--filled">
            <use href="images/icons/icons.svg#rating" />
          </svg>
          <svg class="card__rating">
            <use href="images/icons/icons.svg#rating" />
          </svg>
          <span class="card-reviews__score">4.0</span>
        </div>
      </div>
      <button class="popup__close" data-filter="close">
        <img src="@img//icons/close.svg" alt="close">
      </button>
    </div>
    <div class="card-reviews card-reviews--popup">
      <div class="card-popup__slider">
        <div class="card-reviews__slider splide" id="card-reviews-sliderPopup">
          <div class="splide__track">
            <ul class="splide__list">
              <li class="splide__slide">
                <img class="card-reviews__img" src="@img//content/card/reviews/1.jpg" alt="reviews image">
              </li>
              <li class="splide__slide">
                <img class="card-reviews__img" src="@img//content/card/reviews/2.jpg" alt="reviews image">
              </li>
              <li class="splide__slide">
                <img class="card-reviews__img" src="@img//content/card/reviews/3.jpg" alt="reviews image">
              </li>
              <li class="splide__slide">
                <img class="card-reviews__img" src="@img//content/card/reviews/4.jpg" alt="reviews image">
              </li>
              <li class="splide__slide">
                <img class="card-reviews__img" src="@img//content/card/reviews/5.jpg" alt="reviews image">
              </li>
              <li class="splide__slide">
                <img class="card-reviews__img" src="@img//content/card/reviews/6.jpg" alt="reviews image">
              </li>
              <li class="splide__slide">
                <img class="card-reviews__img" src="@img//content/card/reviews/2.jpg" alt="reviews image">
              </li>
              <li class="splide__slide">
                <img class="card-reviews__img" src="@img//content/card/reviews/3.jpg" alt="reviews image">
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="card-reviews__post card-reviews__post--popup">
        <button class="btn btn--accent btn--100">Оставить отзыв</button>
      </div>
      <div class="card-popup__wrapper">
        <div class="card-reviews__item card-reviews__item--popup">
          <div class="card-reviews__info">
            <div class="card-reviews__author">Ирина</div>
            <time class="card-reviews__date" datetime="2022-02-12 20:00">12 июля, 2022</time>
          </div>
          <div class="card-reviews__rating">
            <svg class="card__rating card__rating--filled card__rating--sm">
              <use href="images/icons/icons.svg#rating" />
            </svg>
            <svg class="card__rating card__rating--filled card__rating--sm">
              <use href="images/icons/icons.svg#rating" />
            </svg>
            <svg class="card__rating card__rating--filled card__rating--sm">
              <use href="images/icons/icons.svg#rating" />
            </svg>
            <svg class="card__rating card__rating--filled card__rating--sm">
              <use href="images/icons/icons.svg#rating" />
            </svg>
            <svg class="card__rating card__rating--filled card__rating--sm">
              <use href="images/icons/icons.svg#rating" />
            </svg>
          </div>
          <div class="card-reviews__text">
            <p>Мягкий и на высоких деревянных ножках, в духе ультрамодных тенденций. Сдержанный дизайн и продуманная до мелочей функциональность – в актуальном скандинавском стиле. Компактный Talo освободит пространство даже на небольших площадях.</p>
            <p>Диван трансформируется в полноценную кровать, с ровным, без заломов спальным местом. Усиленный механизм «Клик-кляк» обеспечит ежедневную трансформацию без особых усилий. Геометрическая стежка чехла подчеркивает лаконичность и выразительность модели. Плавные линии, мягкие углы и ребра делают Talo безопасным даже для детей.</p>
          </div>
          <div class="card-reviews__attachment">
            <div class="card-attachment__slider splide" id="card-attachment-slider-1">
              <div class="splide__track">
                <ul class="splide__list">
                  <li class="splide__slide">
                    <img class="card-reviews__img" src="@img//content/card/reviews/7.jpg" alt="reviews image">
                  </li>
                  <li class="splide__slide">
                    <img class="card-reviews__img" src="@img//content/card/reviews/8.jpg" alt="reviews image">
                  </li>
                  <li class="splide__slide">
                    <img class="card-reviews__img" src="@img//content/card/reviews/9.jpg" alt="reviews image">
                  </li>
                  <li class="splide__slide">
                    <img class="card-reviews__img" src="@img//content/card/reviews/7.jpg" alt="reviews image">
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card-reviews__footer">
            <span>Полезный отзыв?</span>
            <button class="card-reviews__like" type="button">
              <svg>
                <use href="images/icons/icons.svg#useful" />
              </svg>
              <span class="card-reviews__likes">1</span>
            </button>
            <button class="card-reviews__reply" type="button">Ответить</button>
          </div>
        </div>
        <div class="card-reviews__item card-reviews__item--popup">
          <div class="card-reviews__info">
            <div class="card-reviews__author">Ирина</div>
            <time class="card-reviews__date" datetime="2022-02-12 20:00">12 июля, 2022</time>
          </div>
          <div class="card-reviews__rating">
            <svg class="card__rating card__rating--filled card__rating--sm">
              <use href="images/icons/icons.svg#rating" />
            </svg>
            <svg class="card__rating card__rating--filled card__rating--sm">
              <use href="images/icons/icons.svg#rating" />
            </svg>
            <svg class="card__rating card__rating--filled card__rating--sm">
              <use href="images/icons/icons.svg#rating" />
            </svg>
            <svg class="card__rating card__rating--filled card__rating--sm">
              <use href="images/icons/icons.svg#rating" />
            </svg>
            <svg class="card__rating card__rating--filled card__rating--sm">
              <use href="images/icons/icons.svg#rating" />
            </svg>
          </div>
          <div class="card-reviews__text">
            <p>Мягкий и на высоких деревянных ножках, в духе ультрамодных тенденций. Сдержанный дизайн и продуманная до мелочей функциональность – в актуальном скандинавском стиле. Компактный Talo освободит пространство даже на небольших площадях.</p>
            <p>Диван трансформируется в полноценную кровать, с ровным, без заломов спальным местом. Усиленный механизм «Клик-кляк» обеспечит ежедневную трансформацию без особых усилий. Геометрическая стежка чехла подчеркивает лаконичность и выразительность модели. Плавные линии, мягкие углы и ребра делают Talo безопасным даже для детей.</p>
          </div>
          <div class="card-reviews__attachment">
            <div class="card-attachment__slider splide" id="card-attachment-slider-2">
              <div class="splide__track">
                <ul class="splide__list">
                  <li class="splide__slide">
                    <img class="card-reviews__img" src="@img//content/card/reviews/7.jpg" alt="reviews image">
                  </li>
                  <li class="splide__slide">
                    <img class="card-reviews__img" src="@img//content/card/reviews/8.jpg" alt="reviews image">
                  </li>
                  <li class="splide__slide">
                    <img class="card-reviews__img" src="@img//content/card/reviews/9.jpg" alt="reviews image">
                  </li>
                  <li class="splide__slide">
                    <img class="card-reviews__img" src="@img//content/card/reviews/7.jpg" alt="reviews image">
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card-reviews__footer">
            <span>Полезный отзыв?</span>
            <button class="card-reviews__like" type="button">
              <svg>
                <use href="images/icons/icons.svg#useful" />
              </svg>
              <span class="card-reviews__likes">1</span>
            </button>
            <button class="card-reviews__reply" type="button">Ответить</button>
          </div>
        </div>
        <button class="btn btn--white btn--sm btn--100" type="button">Показать ещё</button>
      </div>
    </div>
  </div>
</div>