<div class="card-popup popup" id="card-description">
  <div class="popup__overlay"></div>
  <div class="popup__box">
    <div class="popup__header">
      <h3 class="popup__title">Описание</h3>
      <button class="popup__close" data-filter="close">
        <img src="@img//icons/close.svg" alt="close">
      </button>
    </div>
    <div class="card-popup__wrapper">
      <h6 class="card-popup__subtitle">Прямой анатомический диван Talo</h6>
      <div class="card-popup__text card-popup__text--sm">
        <p>Мягкий и на высоких деревянных ножках, в духе ультрамодных тенденций. Сдержанный дизайн и продуманная до мелочей функциональность – в актуальном скандинавском стиле. Компактный Talo освободит пространство даже на небольших площадях.</p>
        <p>Диван трансформируется в полноценную кровать, с ровным, без заломов спальным местом. Усиленный механизм «Клик-кляк» обеспечит ежедневную трансформацию без особых усилий. Геометрическая стежка чехла подчеркивает лаконичность и выразительность модели. Плавные линии, мягкие углы и ребра делают Talo безопасным даже для детей.</p>
      </div>
      <h6 class="card-popup__subtitle">Важно знать</h6>
      <div class="card-popup__text card-popup__text--sm">
        <p>Мягкий и на высоких деревянных ножках, в духе ультрамодных тенденций. Сдержанный дизайн и продуманная до мелочей функциональность – в актуальном скандинавском стиле. Компактный Talo освободит пространство даже на небольших площадях.</p>
        <p>Диван трансформируется в полноценную кровать, с ровным, без заломов спальным местом. Усиленный механизм «Клик-кляк» обеспечит ежедневную трансформацию без особых усилий. Геометрическая стежка чехла подчеркивает лаконичность и выразительность модели. Плавные линии, мягкие углы и ребра делают Talo безопасным даже для детей.</p>
      </div>
    </div>
  </div>
</div>