<div class="card-popup popup" id="card-delivery">
  <div class="popup__overlay"></div>
  <div class="popup__box">
    <div class="popup__header">
      <h3 class="popup__title">Доставка и самовывоз</h3>
      <button class="popup__close" data-filter="close">
        <img src="@img//icons/close.svg" alt="close">
      </button>
      <select class="card-select card-select--delivery select" autocomplete="off">
        <option value="1">Минск</option>
        <option value="2">Брест</option>
        <option value="3">Гродно</option>
      </select>
    </div>
    <div class="card-popup__wrapper card-popup__wrapper--lg">
      <div class="card-popup__delivery-block">
        <div class="card-popup__delivery-item">
          <span class="card-popup__delivery-text">Доставка в пределах территории города</span>
          <span class="card-popup__delivery-text">Бесплатно</span>
        </div>
        <div class="card-popup__delivery-item">
          <span class="card-popup__delivery-text">Доставка за пределами города</span>
          <span class="card-popup__delivery-text">Бесплатно</span>
        </div>
      </div>
      <div class="card-popup__delivery-block">
        <h5 class="card-popup__title">Сроки и доставка</h5>
        <div class="card-popup__delivery-item">
          <span class="card-popup__delivery-text">При наличии на складе</span>
          <span class="card-popup__delivery-text">1-3 рабочих дня</span>
        </div>
        <div class="card-popup__delivery-item">
          <span class="card-popup__delivery-text">При наличии на складе в другом городе</span>
          <span class="card-popup__delivery-text">3-10 рабочих дня</span>
        </div>
      </div>
      <div class="card-popup__delivery-block">
        <h5 class="card-popup__title">Способы оплаты</h5>
        <div class="card-popup__payment">
          <img src="@img//icons/parthners/parthner-1.svg" alt="Payment image">
          <img src="@img//icons/parthners/parthner-2.svg" alt="Payment image">
          <img src="@img//icons/parthners/parthner-3.svg" alt="Payment image">
          <img src="@img//icons/parthners/parthner-4.svg" alt="Payment image">
          <img src="@img//icons/parthners/parthner-5.svg" alt="Payment image">
          <img src="@img//icons/parthners/parthner-6.svg" alt="Payment image">
          <img src="@img//icons/parthners/parthner-7.svg" alt="Payment image">
        </div>
      </div>
      <div class="card-popup__delivery-block">
        <h5 class="card-popup__title">Самовывоз</h5>
        <div class="card-popup__text">
          <p>Вы можете забрать Ваш заказ в любом из магазинов Askona или со склада в городах.</p>
          <p>Перед посещением магазина или склада обязательно необходимо согласовать детали заказа с менеджером Интернет-магазина:</p>
          <ul>
            <li>Получить подтверждение о наличии товара.</li>
            <li>Получить номер заказа.</li>
            <li>Согласовать время, в которое Вам удобно будет забрать заказ.</li>
          </ul>
        </div>
      </div>
      <div class="card-popup__delivery-block">
        <h5 class="card-popup__title">Правила оказания услуг</h5>
        <div class="card-popup__text">При самовывозе товара со склада нужно заранее заказывать пропуск.<br>Самовывоз товара не осуществляется в праздничные дни.</div>
      </div>
    </div>
  </div>
</div>