<div class="card-popup popup" id="card-features">
  <div class="popup__overlay"></div>
  <div class="popup__box">
    <div class="popup__header">
      <h3 class="popup__title">Характеристики</h3>
      <button class="popup__close" data-filter="close">
        <img src="@img//icons/close.svg" alt="close">
      </button>
    </div>
    <div class="card-popup__wrapper">
      <div class="card-features card-features--popup">
        <div class="card-features__item">
          <span class="card-features__text">Гарантия</span>
          <span class="card-features__text">1.5 года</span>
        </div>
        <div class="card-features__item">
          <span class="card-features__text">Коллекция</span>
          <span class="card-features__text">Balance</span>
        </div>
        <div class="card-features__item">
          <span class="card-features__text">Жесткость матрасов</span>
          <span class="card-features__text">Средней Жесткости / Жесткие</span>
        </div>
        <div class="card-features__item">
          <span class="card-features__text">Особенности</span>
          <span class="card-features__text">Двусторонние / Ортопедические / Спальные</span>
        </div>
        <div class="card-features__item">
          <span class="card-features__text">Наполнитель</span>
          <span class="card-features__text">Кокосовая койра / Войлок / Пенополиуретан (ППУ)</span>
        </div>
        <div class="card-features__item">
          <span class="card-features__text">Высота, см</span>
          <span class="card-features__text">19 см</span>
        </div>
        <div class="card-features__item">
          <span class="card-features__text">Тип пружинного блока</span>
          <span class="card-features__text">Пружинные / С независимым пружинным блоком</span>
        </div>
        <div class="card-features__item">
          <span class="card-features__text">Вес на спальное место</span>
          <span class="card-features__text">До 110 кг</span>
        </div>
        <div class="card-features__item">
          <span class="card-features__text">Назначение</span>
          <span class="card-features__text">Для кровати / Для подростков / Для взрослых / Для пожилых</span>
        </div>
        <div class="card-features__item">
          <span class="card-features__text">Размерность</span>
          <span class="card-features__text">Односпальные / Полуторные / Двуспальные / Евро</span>
        </div>
        <div class="card-features__item">
          <span class="card-features__text">Жесткость</span>
          <span class="card-features__text">Средней жесткости</span>
        </div>
        <div class="card-features__item">
          <span class="card-features__text">Бренд</span>
          <span class="card-features__text">Askona</span>
        </div>
      </div>
    </div>
  </div>
</div>